.content-page--event-header
  .body-section--event-header__inner
    .body-section--event-header__event
      %a(href="/2019") <span>RubyConf</span> <span>Kenya</span> <span class="two-oh-one-five"><span class="two">2</span><span class="oh">0</span><span class="one">1</span><span class="five">9</span></span>
    .body-section--event-header__city <span>Nairobi</span> <span>Kenya</span>
    .body-section--event-header__date July 25-27 2019

#after-nav
