%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %h1.body-section--event-header__event <span class="event-title">RubyConf</span> <span class="event-title">Kenya</span> <span class="two-oh-one-five"><span class="two">2</span><span class="oh">0</span><span class="one">1</span><span class="five">6</span></span>
      %h4 THEME: NURTURING ENTREPRENEURSHIP THROUGH OPEN SOURCE CULTURE
      %p On the 5th to 7th May 2016, leading Ruby developers from around the world will come together to share, inspire and learn.
      -#%a(href="/pdfs/2015/Ruby%20Conference%20Schedule.pdf" target="_blank" ) View schedule.
      %h2.body-section--event-header__city <span>Nairobi</span> <span>Kenya</span>
      %h3.body-section--event-header__date 5<sup>th</sup>-7<sup>th</sup> May 2016
    .body-section--event-header__tickets
      %a.button(href="http://goo.gl/cv2Mf8") Register Now!

%section.site-nav
  %a(href="#attending") Attending
  %a(href="#venue") Location
  %a(href="#speakers") Speakers
  %a(href="#conference") Conference
  %a(href="#sponsors") Sponsors
  %a(href="#conduct") Code of Conduct
  %a(href="#contact") Contact

#after-nav

%section#attending.body-section--attending
  %h2 Attending

  %p RubyConf Kenya is an inclusive conference and as such strives to be <a href="/2015/policies#code">welcoming</a> and <a href="/2015/accessibility">accessible</a> to as many people as possible.

%section#venue.body-section--venue
  %h2 Location
  %img.body-section__header-image{src:'/images/2016/bg.jpg'}
  %p All the conference sessions will be held at Jernigan Hall, African Nazarene University, Ongata Rongai.
  %p <a href="https://goo.gl/XvrAat" class="button">Directions</a>

%section#speakers.body-section--content
  %h2 Speakers

  %div.grid
    %div.grid__cell.speaker
      %h3.speaker__name Ray Hightower
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2016/speakers/raymond.jpg" alt="Photo of Raymond T. Hightower")
      %div.speaker__bio
        %p Ray Hightower is a software developer, open source hardware enthusiast, founder of WisdomGroup, and organizer of ChicagoRuby, WindyCityRails, & WindyCityThings. He has visited every state in the USA and most continents on planet Earth.
      %ol.speaker__links
        %li
          %a(href="http://rayhightower.com/") rayhightower.com
        %li
          %a(href="http://twitter.com/rayhightower") @RayHightower
        %li
          %a(href="http://rayhightower.com/") github.com/rayhightower
    %div.grid__cell.speaker
      %h3.speaker__name Aaron Cruz
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/aaron_cruz.jpg" alt="Photo of Aaron Cruz")
      %div.speaker__bio
        %p Aaron lives in Vienna, Austria where he builds MVPs for small startups using Ruby, JavaScript and Go. He also organizes 4 meetups, and most recently, co-organizes ROSSConf - A Ruby Open Source Conference in Vienna where people who work on open source projects get to share their experience.
      %ol.speaker__links
        %li
          %a(href="http://aaroncruz.com") aaroncruz.com
        %li
          %a(href="http://twitter.com/mraaroncruz") @mraaroncruz
        %li
          %a(href="http://github.com/pferdefleisch") github.com/pferdefleisch
    %div.grid__cell.speaker
      %h3.speaker__name Alvin Kato
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/alvin_kato.jpg" alt="Photo of Alvin")
      %div.speaker__bio
        %p Introduced to programming by a close friend, Alvin abandoned an academic career as an Economist/Statistician for a keyboard and a black screen where he fell in love with ruby and the wonders of rails. His current mission is to transfer this same joy and enthusiasm for coding into the hearts of others.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/alvinkatojr") @alvinkatojr
    %div.grid__cell.speaker
      %h3.speaker__name Audrey Cheng
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/audrey.jpg" alt="Photo of Audrey")
      %div.speaker__bio
        %p Audrey is the co-founder of Moringa School, which currently offers a 12-week, immersive program training world-class web and mobile developers. She's passionate about providing education and access so people can reach their human potential, and she sees tech as one of the most powerful outlets to impact.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/audreypcheng") @audreypcheng
    %div.grid__cell.speaker
      %h3.speaker__name Eugene Mutai
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/eugene.jpg" alt="Photo of Eugene")
      %div.speaker__bio
        %p Eugene perceives the day he became curious with how Facebook works a calling to greatness. Since then he has self-developed skills by challenging himself with global standards set by guys like Paul Irish and the rest. Eugene has worked in tonnes of project from data analysis, hybrid html5 apps ranging from Android to Blackberry, and finally his favorite web apps. He has expansive knowledge in what it takes to build/powerful web application from architecture, technologies and tools. He is the Nairobi JavaScript Community(user-group) Lead and a consultant at iHub. Also an enthusiast in what they offer the community, thus happy in contributing all what he can.
        %ol.speaker__links
        %li
          %a(href="https://twitter.com/JheneKnights") @JheneKnights
    %div.grid__cell.speaker
      %h3.speaker__name Christian Reuterwall
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/chris.jpg" alt="Photo of Christian Reeuterwall")
      %div.speaker__bio
        %p Christian is a ruby scrub - he joined the Nairuby community after its relaunch last year. He started his career as a java developer. Before coming to Nairobi he was working as a project manager. Christian was also responsible for Continuous Integration, Change and Incident managament.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/Creutis") @Creutis
    %div.grid__cell.speaker
      %h3.speaker__name Sawo
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/sawo.jpg" alt="Photo of Sawo")
      %div.speaker__bio
        %p Sawo is a great lover of code and the amazing things that can be done with it. He has a bias for developing
        web app usingruby on rails and currently he is the lead code slinger for BlueGate Technologies. He likes spending
        his weekends teaching mobile development to GDG M.M.U. His favourite quote, It's not the product, its what you
        can do with it. catch him
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/SawoFilush") @SawoFilush
        %li
          %a(href="http://about.me/wycliffe.sawo") About Sawo
    %div.grid__cell.speaker
      %h3.speaker__name Diana Wanjuhi
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/diana.jpg" alt="Photo of Diana")
      %div.speaker__bio
        %p Diana Wanjuhi is a Software Developer at MaraMoja Transport. She is excited by all things technology, with a
        bias toward software development. She developed her skills in Ruby and Rails during a programming bootcamp at
        Moringa School. While not writing code, she enjoys reading avidly and thinking about the tech ecosystem in Nairobi.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/DianaWanjuhi") @DianaWanjuhi
        %li
          %a(href="http://github.com/dwanjuhi1") Github

%section#conference.body-section--content
  %h2 Conference
  %p 5<sup>th</sup> &amp; 7<sup>th</sup> May at Jernigan Hall, African Nazarene University, Ongata Rongai.
  -#%a(href="/pdfs/2015/Ruby%20Conference%20Schedule.pdf" target="_blank" ) View schedule.

%section#sponsors.body-section--sponsors
  %h2 Sponsors
  %p RubyConf KE Nairobi 2016 is made possible through the generous support of our sponsors. Please give them your support&nbsp;too.
  %h3 Ruby Sponsor
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--ruby
    %li.sponsors__sponsor.sponsors__sponsor--github
      <a href="http://github.com/"><img src="/images/2015/sponsors/github.png" alt="GitHub"></a>
  %h3 Emerald Sponsors
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--emerald

    %li.sponsors__sponsor.sponsors__sponsor--bantamik
      <a href="http://bantamik.com/"><img src="/images/2015/sponsors/bantamik.png" alt="BantaMik"></a>
    %li.sponsors__sponsor.sponsors__sponsor--techweez
      <a href="http://www.techweez.com/"><img src="/images/2016/sponsors/techweez.png" alt="Techweez"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--rea
  -#    <a href="http://realestate.com.au/"><img src="/images/2015/sponsors/rea.png" alt="realestate.com.au"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--reinteractive
  -#    <a href="https://reinteractive.net/"><img src="/images/2015/sponsors/reinteractive.png" alt="reinteractive"></a>
  %h3 Sapphire Sponsors
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--sapphire
    %li.sponsors__sponsor.sponsors__sponsor--mandrill
      <a href="http://mandrill.com/"><img src="/images/2015/sponsors/mandrill.png" alt="Mandrill"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--jobready
  -#    <a href="http://jobready.com/"><img src="/images/2015/sponsors/jobready.png" alt="Job Ready"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--torii
  -#    <a href="http://toriirecruitment.com.au/"><img src="/images/2015/sponsors/torii.png" alt="Torii Recruiting"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--lookahead
  -#    <a href="http://www.lookahead.com.au/"><img src="/images/2015/sponsors/lookahead.png" alt="Lookahead"></a>
  %h3 Supporters
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
    %li.sponsors__sponsor.sponsors__sponsor--digitalocean
      <a href="http://digitalocean.com/"><img src="/images/2015/sponsors/digitalocean.png" alt="Digital Ocean"></a>
    %li.sponsors__sponsor.sponsors__sponsor--adorable
      <a href="http://adorable.io/"><img src="/images/2015/sponsors/adorableio.png" alt="Adorable"></a>
    %li.sponsors__sponsor.sponsors__sponsor--moringa
      <a href="http://moringaschool.com/"><img src="/images/2015/sponsors/moringa.png" alt="Moringa school"></a>
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
    %li.sponsors__sponsor.sponsors__sponsor--pluralsight
      <a href="https://www.pluralsight.com/"><img src="/images/2015/sponsors/pluralsight.jpg" alt="pluralsight"></a>
    %li.sponsors__sponsor.sponsors__sponsor--uber
      <a href="https://www.uber.com/cities/nairobi"><img src="/images/2015/sponsors/uber.png" alt="uber"></a>


  -#%p
  -#  <a href="/2015/sponsors" class="button">Read about our generous sponsors</a>

-# %section#news.body-section--content
-#   %h2 News
-#   %p ...

%section#conduct.body-section--content
  %h2 Code of Conduct
  %p RubyConf Kenya is run under the auspices of Ruby Kenya. You can view our <a href="http://nairuby.org/about/code-of-conduct/" target="_blank">code of conduct</a>. These rules must be followed by all attendees at all conference-related events.
