.content-page--event-header
  .body-section--event-header__inner
    .body-section--event-header__event
      %a(href="/2021") <span>Ruby Conference</span> <span>Africa</span>
        <span class="two-oh-one-five">
          <span class="two">2</span>
          <span class="oh">0</span>
          <span class="two">2</span>
          <span class="oh">1</span>
        </span>
    .body-section--event-header__city <span>Nairobi</span> <span>Kenya</span>
    .body-section--event-header__date July 8-10 2021

#after-nav
