%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %h1.body-section--event-header__event <span>RubyConf</span> <span>Kenya</span> <span class="two-oh-one-five"><span class="two">2</span><span class="oh">0</span><span class="one">1</span><span class="five">5</span></span>
      %p On the 8th to 9th May 2015, leading Ruby developers from around the world will come together to share, inspire and learn.
      %h2.body-section--event-header__city <span>Nairobi</span> <span>Kenya</span>
      %h3.body-section--event-header__date 8<sup>th</sup>-9<sup>th</sup> May 2015
    .body-section--event-header__tickets
      %a.button(href="https://www.eventbrite.com/e/rubyconf-ke-2015-tickets-15386615782") Register Now!

%section.site-nav
  %a(href="#attending") Attending
  %a(href="#venue") Location
  %a(href="#speakers") Speakers
  %a(href="#conference") Conference
  %a(href="#sponsors") Sponsors
  %a(href="#conduct") Code of Conduct
  %a(href="#contact") Contact

#after-nav

%section#attending.body-section--attending
  %h2 Attending

  %p RubyConf Kenya is an inclusive conference and as such strives to be <a href="/2015/policies#code">welcoming</a> and <a href="/2015/accessibility">accessible</a> to as many people as possible.

%section#venue.body-section--venue
  %h2 Location
  %img.body-section__header-image{src:'/images/2015/c4dlab2.jpg'}
  %p All the conference sessions will be held at C4D Lab, Nairobi University.
  %p <a href="https://goo.gl/maps/yE1eX" class="button">Directions</a>
  %p C4DLab is an R&D (research & development) and startup incubation lab, based at the School of Computing and Informatics, University of Nairobi. The lab aims at contributing towards building the Silicon Savannah, leveraging on the large University community.

%section#speakers.body-section--content
  %h2 Speakers

  -#%div.grid
  -#  %div.grid__cell.speaker
  -#    %h3.speaker__name Dennis Ondeng
  -#    %p.speaker__photo
  -#      %img.speaker__photo__image(src="/images/2015/speakers/collistaeed.png" alt="Photo of Collis")
  -#    %div.speaker__bio
  -#      %p Dennis is the CTO of Kopo Kopo. A designer by trade, Collis is also an avid writer, entrepreneur and product guy. Together with his co-founders, Collis has bootstrapped Envato all the way to 250 staff and more than $200m paid out to designers and developers all around the world.
  -#    %ol.speaker__links
  -#      %li
  -#        %a(href="http://envato.com/") envato.com
  -#      %li
  -#        %a(href="https://twitter.com/collis") @collis
  -#  %div.grid__cell.speaker
  -#    %h3.speaker__name Linda Liukas
  -#    %p.speaker__photo
  -#      %img.speaker__photo__image(src="/images/2015/speakers/lindaliukas.png" alt="Photo of Linda")
  -#    %div.speaker__bio
  -#      %p Linda is the author and illustrator of Hello Ruby, a childrens picture book about the whimsical world of computers, as well as the founder of Rails Girls, a global movement to teach young women programming in over 220 cities. She loves Muji, Zelda Fitzgerald, software and sparkly things.
  -#    %ol.speaker__links
  -#      %li
  -#        %a(href="http://lindaliukas.fi/") lindaliukas.fi
  -#      %li
  -#        %a(href="https://twitter.com/lindaliukas") @lindaliukas
  -#  %div.grid__cell.speaker
  -#    %h3.speaker__name Tom Stuart
  -#    %p.speaker__photo
  -#      %img.speaker__photo__image(src="/images/2015/speakers/tomstuart.jpg" alt="Photo of Tom")
  -#    %div.speaker__bio
  -#      %p Tom is a computer scientist and programmer. He has lectured on optimising compilers at the University of Cambridge, co-organises the Ruby Manor conference, and is a member of the London Ruby User Group. His latest book, Understanding Computation, was published by O'Reilly in 2013.
  -#    %ol.speaker__links
  -#      %li
  -#        %a(href="http://codon.com") codon.com
  -#      %li
  -#        %a(href="https://twitter.com/tomstuart") @tomstuart




%section#conference.body-section--content
  %h2 Conference
  %p Friday 8<sup>th</sup> &amp; 9<sup>th</sup> May at C4D Lab, Nairobi University.
  %p Schedule to be be announced!

%section#sponsors.body-section--sponsors
  %h2 Sponsors
  %p RubyConf KE Nairobi 2015 is made possible through the generous support of our sponsors. Please give them your support&nbsp;too.
  %h3 Ruby Sponsor
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--ruby
    %li.sponsors__sponsor.sponsors__sponsor--github
      <a href="http://github.com/"><img src="/images/2015/sponsors/github.png" alt="GitHub"></a>
  %h3 Emerald Sponsors
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--emerald
    %li.sponsors__sponsor.sponsors__sponsor--bantamik
      <a href="http://bantamik.com/"><img src="/images/2015/sponsors/bantamik.png" alt="BantaMik"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--rea
  -#    <a href="http://realestate.com.au/"><img src="/images/2015/sponsors/rea.png" alt="realestate.com.au"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--reinteractive
  -#    <a href="https://reinteractive.net/"><img src="/images/2015/sponsors/reinteractive.png" alt="reinteractive"></a>
  %h3 Sapphire Sponsors
  -#%ol.sponsors__sponsor-list.sponsors__sponsor-list--sapphire
  -#  %li.sponsors__sponsor.sponsors__sponsor--digitalocean
  -#    <a href="https://www.digitalocean.com/"><img src="/images/2015/sponsors/digitalocean.png" alt="Digital Ocean"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--jobready
  -#    <a href="http://jobready.com/"><img src="/images/2015/sponsors/jobready.png" alt="Job Ready"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--torii
  -#    <a href="http://toriirecruitment.com.au/"><img src="/images/2015/sponsors/torii.png" alt="Torii Recruiting"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--buildbox
  -#    <a href="https://buildkite.com/"><img src="/images/2015/sponsors/buildkite.png" alt="Buildkite"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--lookahead
  -#    <a href="http://www.lookahead.com.au/"><img src="/images/2015/sponsors/lookahead.png" alt="Lookahead"></a>
  %h3 Supporters
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
    %li.sponsors__sponsor.sponsors__sponsor--buildkite
      <a href="https://buildkite.com/"><img src="/images/2015/sponsors/buildkite.png" alt="Buildkite"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--jobready
  -#    <a href="http://jobready.com/"><img src="/images/2015/sponsors/jobready.png" alt="Job Ready"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--torii
  -#    <a href="http://toriirecruitment.com.au/"><img src="/images/2015/sponsors/torii.png" alt="Torii Recruiting"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--buildbox
  -#    <a href="https://buildkite.com/"><img src="/images/2015/sponsors/buildkite.png" alt="Buildkite"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--lookahead
  -#    <a href="http://www.lookahead.com.au/"><img src="/images/2015/sponsors/lookahead.png" alt="Lookahead"></a>

  -#%p
  -#  <a href="/2015/sponsors" class="button">Read about our generous sponsors</a>

-# %section#news.body-section--content
-#   %h2 News
-#   %p ...

%section#conduct.body-section--content
  %h2 Code of Conduct
  %p RubyConf Kenya is run under the auspices of Ruby Kenya. You can view our <a href="http://nairuby.org/about/code-of-conduct/" target="_blank">code of conduct</a>. These rules must be followed by all attendees at all conference-related events.
