%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %h1.body-section--event-header__event <span class="event-title">RubyConf</span> <span class="event-title">Kenya</span> <span class="two-oh-one-five"><span class="two">2</span><span class="oh">0</span><span class="one">1</span><span class="five">5</span></span>
      %p On the 8th to 9th May 2015, leading Ruby developers from around the world will come together to share, inspire and learn.
      %h2.body-section--event-header__city <span>Nairobi</span> <span>Kenya</span>
      %h3.body-section--event-header__date 8<sup>th</sup>-9<sup>th</sup> May 2015
    .body-section--event-header__tickets
      %a.button(href="https://www.eventbrite.com/e/rubyconf-ke-2015-tickets-15386615782") Register Now!

%section.site-nav
  %a(href="#attending") Attending
  %a(href="#venue") Location
  %a(href="#speakers") Speakers
  %a(href="#conference") Conference
  %a(href="#sponsors") Sponsors
  %a(href="#conduct") Code of Conduct
  %a(href="#contact") Contact

#after-nav

%section#attending.body-section--attending
  %h2 Attending

  %p RubyConf Kenya is an inclusive conference and as such strives to be <a href="/2015/policies#code">welcoming</a> and <a href="/2015/accessibility">accessible</a> to as many people as possible.

%section#venue.body-section--venue
  %h2 Location
  %img.body-section__header-image{src:'/images/2015/c4dlab2.jpg'}
  %p All the conference sessions will be held at C4D Lab, Nairobi University.
  %p <a href="http://goo.gl/Vqr8YT" class="button">Directions</a>
  %p C4DLab is an R&D (research & development) and startup incubation lab, based at the School of Computing and Informatics, University of Nairobi. The lab aims at contributing towards building the Silicon Savannah, leveraging on the large University community.

%section#speakers.body-section--content
  %h2 Speakers

  %div.grid
    %div.grid__cell.speaker
      %h3.speaker__name Albert Sema
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/albert_sema.png" alt="Photo of Albert Sema")
      %div.speaker__bio
        %p Albert Sema is a software developer and project manager consultant, partner at Brackets Consulting (www.bracketsconsulting.com). A polyglot programmer. Started his career with java and later with PHP. A Ruby Enthusiast who started using ruby and rails on side projects 2 years ago. He blogs about technology, business and Africa
      %ol.speaker__links
        %li
          %a(href="http://www/albertsema.com") albertsema.com
        %li
          %a(href="https://twitter.com/albertsema") @albertsema
    %div.grid__cell.speaker
      %h3.speaker__name Aaron Cruz
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/aaron_cruz.jpg" alt="Photo of Aaron Cruz")
      %div.speaker__bio
        %p Aaron lives in Vienna, Austria where he builds MVPs for small startups using Ruby, JavaScript and Go. He also organizes 4 meetups, and most recently, co-organizes ROSSConf - A Ruby Open Source Conference in Vienna where people who work on open source projects get to share their experience.
      %ol.speaker__links
        %li
          %a(href="http://aaroncruz.com") aaroncruz.com
        %li
          %a(href="http://twitter.com/mraaroncruz") @mraaroncruz
        %li
          %a(href="http://github.com/pferdefleisch") github.com/pferdefleisch
    %div.grid__cell.speaker
      %h3.speaker__name Alvin Kato
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/alvin_kato.jpg" alt="Photo of Alvin")
      %div.speaker__bio
        %p Introduced to programming by a close friend, Alvin abandoned an academic career as an Economist/Statistician for a keyboard and a black screen where he fell in love with ruby and the wonders of rails. His current mission is to transfer this same joy and enthusiasm for coding into the hearts of others.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/alvinkatojr") @alvinkatojr
    %div.grid__cell.speaker
      %h3.speaker__name Audrey Cheng
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/audrey.jpg" alt="Photo of Audrey")
      %div.speaker__bio
        %p Audrey is the co-founder of Moringa School, which currently offers a 12-week, immersive program training world-class web and mobile developers. She's passionate about providing education and access so people can reach their human potential, and she sees tech as one of the most powerful outlets to impact.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/audreypcheng") @audreypcheng
  -#  %div.grid__cell.speaker
  -#    %h3.speaker__name Tom Stuart
  -#    %p.speaker__photo
  -#      %img.speaker__photo__image(src="/images/2015/speakers/tomstuart.jpg" alt="Photo of Tom")
  -#    %div.speaker__bio
  -#      %p Tom is a computer scientist and programmer. He has lectured on optimising compilers at the University of Cambridge, co-organises the Ruby Manor conference, and is a member of the London Ruby User Group. His latest book, Understanding Computation, was published by O'Reilly in 2013.
  -#    %ol.speaker__links
  -#      %li
  -#        %a(href="http://codon.com") codon.com
  -#      %li
  -#        %a(href="https://twitter.com/tomstuart") @tomstuart




%section#conference.body-section--content
  %h2 Conference
  %p Friday 8<sup>th</sup> &amp; 9<sup>th</sup> May at C4D Lab, Nairobi University.
  %p Schedule to be be announced!

%section#sponsors.body-section--sponsors
  %h2 Sponsors
  %p RubyConf KE Nairobi 2015 is made possible through the generous support of our sponsors. Please give them your support&nbsp;too.
  %h3 Ruby Sponsor
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--ruby
    %li.sponsors__sponsor.sponsors__sponsor--github
      <a href="http://github.com/"><img src="/images/2015/sponsors/github.png" alt="GitHub"></a>
  %h3 Emerald Sponsors
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--emerald
    %li.sponsors__sponsor.sponsors__sponsor--bantamik
      <a href="http://bantamik.com/"><img src="/images/2015/sponsors/bantamik.png" alt="BantaMik"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--rea
  -#    <a href="http://realestate.com.au/"><img src="/images/2015/sponsors/rea.png" alt="realestate.com.au"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--reinteractive
  -#    <a href="https://reinteractive.net/"><img src="/images/2015/sponsors/reinteractive.png" alt="reinteractive"></a>
  %h3 Sapphire Sponsors
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--sapphire
    %li.sponsors__sponsor.sponsors__sponsor--mandrill
      <a href="http://mandrill.com/"><img src="/images/2015/sponsors/mandrill.png" alt="Mandrill"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--jobready
  -#    <a href="http://jobready.com/"><img src="/images/2015/sponsors/jobready.png" alt="Job Ready"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--torii
  -#    <a href="http://toriirecruitment.com.au/"><img src="/images/2015/sponsors/torii.png" alt="Torii Recruiting"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--buildbox
  -#    <a href="https://buildkite.com/"><img src="/images/2015/sponsors/buildkite.png" alt="Buildkite"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--lookahead
  -#    <a href="http://www.lookahead.com.au/"><img src="/images/2015/sponsors/lookahead.png" alt="Lookahead"></a>
  %h3 Supporters
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
    %li.sponsors__sponsor.sponsors__sponsor--buildkite
      <a href="https://buildkite.com/"><img src="/images/2015/sponsors/buildkite.png" alt="Buildkite"></a>
    %li.sponsors__sponsor.sponsors__sponsor--digitalocean
      <a href="http://digitalocean.com/"><img src="/images/2015/sponsors/digitalocean.png" alt="Digital Ocean"></a>
    %li.sponsors__sponsor.sponsors__sponsor--adorable
      <a href="http://adorable.io/"><img src="/images/2015/sponsors/adorableio.png" alt="Adorable"></a>
    %li.sponsors__sponsor.sponsors__sponsor--moringa
      <a href="http://moringaschool.com/"><img src="/images/2015/sponsors/moringa.png" alt="Moringa school"></a>
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
    %li.sponsors__sponsor.sponsors__sponsor--codeship
      <a href="https://codeship.com/"><img src="/images/2015/sponsors/codeship.png" alt="codeship"></a>
    %li.sponsors__sponsor.sponsors__sponsor--pluralsight
      <a href="https://www.pluralsight.com/"><img src="/images/2015/sponsors/pluralsight.jpg" alt="pluralsight"></a>


  -#%p
  -#  <a href="/2015/sponsors" class="button">Read about our generous sponsors</a>

-# %section#news.body-section--content
-#   %h2 News
-#   %p ...

%section#conduct.body-section--content
  %h2 Code of Conduct
  %p RubyConf Kenya is run under the auspices of Ruby Kenya. You can view our <a href="http://nairuby.org/about/code-of-conduct/" target="_blank">code of conduct</a>. These rules must be followed by all attendees at all conference-related events.
