%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %h1.body-section--event-header__event <span class="event-title">RubyConf</span> <span class="event-title">Kenya</span> <span class="two-oh-one-five"><span class="two">2</span><span class="oh">0</span><span class="one">1</span><span class="five">7<span></span>
      %h4 THEME: AGILE, OPEN SOURCE AND ENTREPRENEURSHIP
      %p On the 8th to 10th June 2017 leading Ruby developers from around the world will come together to share, inspire and learn.
      %a(href='#' target="_blank" ) View schedule.
      %h2.body-section--event-header__city <span>Nairobi</span> <span>Kenya</span>
      %h3.body-section--event-header__date 8<sup>th</sup>-10<sup>th</sup> June 2017
    .body-section--event-header__tickets
      %a.button(href="http://gettikets.com/events/8-ruby-conference-kenya-2017/view") Register Now!

%section.site-nav
  %a(href="#attending") Attending
  %a(href="#venue") Location
  %a(href="#speakers") Speakers
  %a(href="#conference") Conference
  %a(href="#sponsors") Sponsors
  %a(href="#conduct") Code of Conduct
  %a(href="#contact") Contact

#after-nav

%section#attending.body-section--attending
  %h2 Attending

  %p RubyConf Kenya is an inclusive conference and as such strives to be <a href="/2015/policies#code">welcoming</a> and <a href="/2015/accessibility">accessible</a> to as many people as possible.

%section#venue.body-section--venue
  %h2 Location
  %img.body-section__header-image{src:'/images/2016/bg.jpg'}
  %p All the conference sessions will be held at TBD.
  %p <a href="https://goo.gl/maps/eigRZGnGJpK2" class="button">Directions</a>

%section#speakers.body-section--content
  %h2 Speakers

  %div.grid
    %div.grid__cell.speaker
      %h3.speaker__name Ray Hightower
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2016/speakers/raymond.jpg" alt="Photo of Raymond T. Hightower")
      %div.speaker__bio
        %p Ray Hightower is a software developer, open source hardware enthusiast, founder of WisdomGroup, and organizer of ChicagoRuby, WindyCityRails, & WindyCityThings. He has visited every state in the USA and most continents on planet Earth. He studied Computer Science and Engineering at the University of Illinois at Urbana-Champaign, and completed his Bachelors in Computer Science at the University of Illinois at Chicago.
      %ol.speaker__links
        %li
          %a(href="http://rayhightower.com/") rayhightower.com
        %li
          %a(href="http://twitter.com/rayhightower") @RayHightower
        %li
          %a(href="http://github.com/rayhightower") github.com/rayhightower
    %div.grid__cell.speaker
      %h3.speaker__name Michael Kimathi
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2016/speakers/michael.jpg" alt="Photo of Michael")
      %div.speaker__bio
        %p Michael Kimathi has over 7 years experience working in innovative ecosystems and building solutions notably with BlackBerry Developer Community, Nairuby, Masomomoja, GDG, Unbound, University of Nairobi, StartupBlink, BantaMik and Atlassian. Currently, he is an entrepreneur learning from his past failures and developing better solutions which will impact the world we are living in. Previously, he was the Community Development Manager at C4DLab, where he worked closely with team C4DLab to develop innovation strategy, Partnership and change the University culture from the old status quo way of doing things to one at the forefront of innovation, he mentored startups, hosted events, organized entrepreneurship mechanics related talks with distinguished industry entrepreneurs.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/mikekimmathi") @mikekimmathi
        %li
          %a(href="https://github.com/iamleader") github.com/iamleader
    %div.grid__cell.speaker
      %h3.speaker__name Manoj Changarampatt
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2016/speakers/manoj.jpg" alt="Photo of Manoj C")
      %div.speaker__bio
        %p Manoj is a business visionary and an independent consultant specializing in building up brands, ecosystems and executing turn-arounds. He lives in Nairobi and he has experience across East & West Africa as well as the Middle East. Having previously worked with Samsung and Nokia, he has a bias towards telecom and technology ventures but can lend support to companies that require retail and distribution expertise as well. After 25 years of corporate experience, he has delved into entrepreneurship with ventures like SavannaByte.com whilst advising entrepreneurs and startups across Nairobi.
      %ol.speaker__links
        %li
          %a(href="http://www.nest.vc/?team=1089") www.nest.vc/?team=1089    
        %li 
          %a(href="https://twitter.com/changarampatt") @changarampatt  
    %div.grid__cell.speaker
      %h3.speaker__name Dr. Kendi Muchugi
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2016/speakers/kendi.jpg" alt="Photo of Dr. Kendi Muchugi")
      %div.speaker__bio
        %p Dr. Kendi is Computer Science graduate from ANU and a holder of masters degree in Information Systems from the University of Surrey. Her doctoral research is in the field of computational neuroscience and primarily involves computational representation of visual processing within the retina, whilst simulating involvement of retina lateral neurons and allowing the convergence of Rod and Cone systems for the purpose of informing the design and development of retinal prosthesis.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/africanazarene") @africanazarene
        %li
          %a(href="https://github.com/kmuchungi") github.com/kmuchungi
    %div.grid__cell.speaker
      %h3.speaker__name Bernard Banta
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2016/speakers/banta.jpg" alt="Photo of Bernard Banta")
      %div.speaker__bio
        %p A Computer Scientist and true entrepreneur, he is the founder of Banta Technologies (BT). He has always been passionate about technology and how it can be used to leverage and transform Africa in the way we live, work, play and govern. When it comes to building, his ultimate goal is to make the world a better place. Banta is an entrepreneur and an engineer on the bleeding edge of technology.
      %ol.speaker__links
        %li
          %a(href="http://bbanta.com/") bbanta.com
        %li
          %a(href="http://twitter.com/bantab") @bantaB
        %li
          %a(href="http://github.com/banta") github.com/banta    
    %div.grid__cell.speaker
      %h3.speaker__name Alvin Kato
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/alvin_kato.jpg" alt="Photo of Alvin")
      %div.speaker__bio
        %p Introduced to programming by a close friend, Alvin abandoned an academic career as an Economist/Statistician for a keyboard and a black screen where he fell in love with ruby and the wonders of rails. His current mission is to transfer this same joy and enthusiasm for coding into the hearts of others.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/alvinkatojr") @alvinkatojr
    %div.grid__cell.speaker
      %h3.speaker__name Kelvin Mutuma
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2016/speakers/mutuma.jpeg" alt="Photo of Kelvin Mutuma")
      %div.speaker__bio
        %p FIFA Addict, novel enthusiast, adept coder, reactive and natural, ruby && general FOSS enthusiast. Abacus | GitLab
      %ol.speaker__links
        %li
          %a(href="http://kelvinmutuma.github.io/") kelvinmutuma.github.io
        %li
          %a(href="https://twitter.com/KelvinMutuma") @KelvinMutuma
        %li
          %a(href="https://github.com/KelvinMutuma") github.com/KelvinMutuma      
    %div.grid__cell.speaker
      %h3.speaker__name Eugene Mutai
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/eugene.jpg" alt="Photo of Eugene")
      %div.speaker__bio
        %p Eugene perceives the day he became curious with how Facebook works a calling to greatness. Since then he has self-developed skills by challenging himself with global standards set by guys like Paul Irish and the rest. Eugene has worked in tonnes of project from data analysis, hybrid html5 apps ranging from Android to Blackberry, and finally his favorite web apps. He has expansive knowledge in what it takes to build/powerful web application from architecture, technologies and tools. He is the Nairobi JavaScript Community(user-group) Lead and a consultant at iHub. Also an enthusiast in what they offer the community, thus happy in contributing all what he can.
        %ol.speaker__links
        %li
          %a(href="https://twitter.com/JheneKnights") @JheneKnights
    %div.grid__cell.speaker
      %h3.speaker__name Sawo
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/sawo.jpg" alt="Photo of Sawo")
      %div.speaker__bio
        %p Sawo is a great lover of code and the amazing things that can be done with it. He has a bias for developing
        web app usingruby on rails and currently he is the lead code slinger for BlueGate Technologies. He likes spending
        his weekends teaching mobile development to GDG M.M.U. His favourite quote, It's not the product, its what you
        can do with it. catch him
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/SawoFilush") @SawoFilush
        %li
          %a(href="http://about.me/wycliffe.sawo") About Sawo
    %div.grid__cell.speaker
      %h3.speaker__name Clement Habinshuti
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2016/speakers/habishuti.jpg" alt="Photo of Sawo")
      %div.speaker__bio
        %p Clement Habinshuti is a Computer Science student at the Africa Nazarene University, aspiring entrepreneur, software developer and , most importantly, a dreamer . A part from writing code and learning new things in the field of Computer Science, he also enjoys playing guitar and drawing.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/habyhabbes") @habyhabbes
        %li
          %a(href="http://takasmart.co/") takasmart.co
          
%section#conference.body-section--content
  %h2 Conference
  %p 8<sup>th</sup> &amp; 10<sup>th</sup> June at TBD.
  -#%a(href="/pdfs/2015/Ruby%20Conference%20Schedule.pdf" target="_blank" ) View schedule.

%section#sponsors.body-section--sponsors
  %h2 Sponsors
  %p RubyConf KE Nairobi 2016 is made possible through the generous support of our sponsors. Please give them your support&nbsp;too.
  %h3 Ruby Sponsor
  -#%ol.sponsors__sponsor-list.sponsors__sponsor-list--ruby
  -#  %li.sponsors__sponsor.sponsors__sponsor--github
  -#    <a href="http://github.com/"><img src="/images/2015/sponsors/github.png" alt="GitHub"></a>
  %h3 Emerald Sponsors
  -#%ol.sponsors__sponsor-list.sponsors__sponsor-list--emerald
  -#
  -#  %li.sponsors__sponsor.sponsors__sponsor--bantamik
  -#    <a href="http://bantamik.com/"><img src="/images/2015/sponsors/bantamik.png" alt="BantaMik"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--techweez
  -#    <a href="http://www.techweez.com/"><img src="/images/2016/sponsors/techweez.png" alt="Techweez"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--rea
  -#    <a href="http://realestate.com.au/"><img src="/images/2015/sponsors/rea.png" alt="realestate.com.au"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--reinteractive
  -#    <a href="https://reinteractive.net/"><img src="/images/2015/sponsors/reinteractive.png" alt="reinteractive"></a>
  %h3 Sapphire Sponsors
  -#%ol.sponsors__sponsor-list.sponsors__sponsor-list--sapphire
  -#  %li.sponsors__sponsor.sponsors__sponsor--mandrill
  -#    <a href="http://mandrill.com/"><img src="/images/2015/sponsors/mandrill.png" alt="Mandrill"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--jobready
  -#    <a href="http://jobready.com/"><img src="/images/2015/sponsors/jobready.png" alt="Job Ready"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--torii
  -#    <a href="http://toriirecruitment.com.au/"><img src="/images/2015/sponsors/torii.png" alt="Torii Recruiting"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--lookahead
  -#    <a href="http://www.lookahead.com.au/"><img src="/images/2015/sponsors/lookahead.png" alt="Lookahead"></a>
  %h3 Supporters
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
    %li.sponsors__sponsor.sponsors__sponsor--gitlab
      <a href="http://gitlab.com/"><img src="/images/2016/sponsors/gitlab.png" alt="gitlab"></a>
    %li.sponsors__sponsor.sponsors__sponsor--github
      <a href="http://github.com/"><img src="/images/2016/sponsors/github.png" alt="GitHub"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--digitalocean
  -#    <a href="http://digitalocean.com/"><img src="/images/2015/sponsors/digitalocean.png" alt="Digital Ocean"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--adorable
  -#    <a href="http://adorable.io/"><img src="/images/2015/sponsors/adorableio.png" alt="Adorable"></a>
  -#%ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
  -#  %li.sponsors__sponsor.sponsors__sponsor--pluralsight
  -#    <a href="https://www.pluralsight.com/"><img src="/images/2015/sponsors/pluralsight.jpg" alt="pluralsight"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--moringa
  -#    <a href="http://moringaschool.com/"><img src="/images/2015/sponsors/moringa.png" alt="Moringa school"></a>

  -#%p
  -#  <a href="/2015/sponsors" class="button">Read about our generous sponsors</a>

-# %section#news.body-section--content
-#   %h2 News
-#   %p ...

%section#conduct.body-section--content
  %h2 Code of Conduct
  %p RubyConf Kenya is run under the auspices of Ruby Kenya. You can view our <a href="http://nairuby.org/about/code-of-conduct/" target="_blank">code of conduct</a>. These rules must be followed by all attendees at all conference-related events.
