%section#conduct.body-section--content
  %h2 Code of Conduct
  %p
    RubyConf Kenya is run under the auspices of Ruby Kenya. You can view our Code of Conduct
    %a(href="#" target="_blank") link

  %h3 Coming Soon !

  -# %p These rules must be followed by all attendees at all conference-related events.
