%section#conduct.body-section--content
  %h2 Code of Conduct
  %p
    RubyConf Kenya is run under the auspices of Ruby Kenya. You can view our
    %a(href="http://nairuby.org/about/code-of-conduct/" target="_blank") code of conduct.
    These rules must be followed by all attendees at all conference-related events.
