%section#conference.body-section--content
  %h2 Conference
  %p
    25
    %sup th
    to 27
    %sup th
    July at iHub, 6th Floor, Senteu Plaza Galana/Lenana Road Junction · Nairobi. |

  %p
    %a.button(href="https://goo.gl/maps/ocFot5hS4iG2" target="_blank") Directions
  %p
    %a.button(href="/pdfs/2019/RubyConfKE_2019_schedule.pdf" target="_blank") View schedule
