%section#conference.body-section--content
  %h2 Conference
  %p
    25
    %sup th
    to 27
    %sup th
    July at | Coming Soon | · Nairobi , Kenya |

  %p
    %a.button(href="#" target="_blank") Directions (Coming Soon)
  %p
    %a.button(href="#" target="_blank") View schedule (Coming Soon)
