%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %h1.body-section--event-header__event
        %span.event-title RubyConf
        %span.event-title Africa
        %span.two-oh-one-five
        %span.two 2
        %span.oh 0
        %span.one 2
        %span.five 4
        %span>
      %h4 THEME: AGILE, OPEN SOURCE AND ENTREPRENEURSHIP
      %p On the 26th to 27th July 2024 leading Ruby developers from around the world will come |
      together to share, inspire and learn. |

      -#%a(href="/pdfs/2018/Ruby%20Conference%20Schedule.pdf" target="_blank" ) View schedule.
      %h2.body-section--event-header__city
        %span Nairobi
        %span Kenya
      %h3.body-section--event-header__date
        26
        %sup> th
        &nbsp27
        %sup> th
        &nbspJuly 2024
    .body-section--event-header__tickets
      %a.button(href="http://meetu.ps/e/GCWQJ/1XVb3/f") Register Now!



