%section#venue.body-section--venue
  %h2 Location
  %img.body-section__header-image{src:'/images/2016/bg.jpg'}
  %p All the conference sessions will be held at iHub, 6th Floor, Senteu Plaza Galana/Lenana Road |
  Junction · Nairobi |

  %p
    %a.button(href="https://goo.gl/maps/ocFot5hS4iG2") Directions