%section#speakers.body-section--content
  %h2 Speakers
  %h3 Coming Soon

  -# %div.grid
  -#   %div.grid__cell.speaker
  -#     %h3.speaker__name Stella Maris
  -#     %p.speaker__photo
  -#       %img.speaker__photo__image(src="/images/all/speakers/stella.jpeg" alt="Photo of Stella Maris")
  -#     %div.speaker__bio
  -#       %p Stella is backend engineer at sokowatch. She also enjoys contributing to open source |
  -#       projects and has been a contributor to organizations such AgileVentures EBWiki and |
  -#       PublicLab. She is a coach at Rails Girls and really enjoys sharing what she knows with |
  -#       young ladies eager to learn programming. She is a free spirit, enjoys outdoor activities |
  -#       such as hiking and all adrenal rushing activities. Did she mention that it’s her first |
  -#       time speaking at a conference? |
  -#
  -#     %ol.speaker__links
  -#       %li
  -#         %a(href="https://twitter.com/StlMaris") @StlMaris
  -#       %li
  -#         %a(href="https://github.com/StlMaris123") github.com/StlMaris123
  -#
  -#   %div.grid__cell.speaker
  -#     %h3.speaker__name Laura Kirby
  -#     %p.speaker__photo
  -#       %img.speaker__photo__image(src="/images/all/speakers/laura.jpeg" alt="Photo of Laura Kirby")
  -#     %div.speaker__bio
  -#       %p Laura is a software engineer at IBM Aspera. She is currently working on a full-stack |
  -#       web application that processes and manages big data. In her spare time, she volunteers for |
  -#       Bridge Foundry, a non-profit that aims to diversify the tech industry. When she isn’t |
  -#       thinking about code, she can be found practicing gymnastics or hosting friends for board |
  -#       games. |
  -#
  -#     %ol.speaker__links
  -#       %li
  -#         %a(href="https://twitter.com/kirby_laura") @kirby_laura
  -#       %li
  -#         %a(href="https://github.com/LauraKirby") github.com/LauraKirby
  -#       %li
  -#         %a(href="https://codetoempower.com/") codetoempower.com
  -#
  -#   %div.grid__cell.speaker
  -#     %h3.speaker__name Purity Maina
  -#     %p.speaker__photo
  -#       %img.speaker__photo__image(src="/images/all/speakers/purity.jpg" alt="Photo of Laura Kirby")
  -#     %div.speaker__bio
  -#       %p Purity Maina is a software engineer who has been building Fintech products for the African market for the past 4 years and loving the journey. She has worked with notable companies such as World Bank, Kenya Films Board and Kenya Tourism Board to build more inclusive products for the market. She is currently working with Lipalater as a lead software engineer.Away from her computer, Purity will either be teaching children how to write code or on the lookout for collectable art pieces. |
  -#
  -#     %ol.speaker__links
  -#       %li
  -#         %a(href="https://twitter.com/bantu_bytes") @bantu_bytes
  -#       %li
  -#         %a(href="https://www.linkedin.com/in/puritymaina") linkedin.com/in/puritymaina
  -#
  -#   %div.grid__cell.speaker
  -#     %h3.speaker__name Denis Sellu
  -#     %p.speaker__photo
  -#       %img.speaker__photo__image(src="/images/all/speakers/sellu.jpeg" alt="Photo of Denis Sellu")
  -#     %div.speaker__bio
  -#       %p I solve problems at CookiesHQ, a technical agency based in Bristol, UK. I’m a strategy |
  -#       game and fantasy fiction fan, and a coconut connoisseur. Coconut doesn’t ask questions, |
  -#       coconut understands. |
  -#
  -#     %ol.speaker__links
  -#       %li
  -#         %a(href="https://twitter.com/TheCookiesHQ") @TheCookiesHQ
  -#       %li
  -#         %a(href="https://www.cookieshq.co.uk/") www.cookieshq.co.uk
  -#   %div.grid__cell.speaker
  -#     %h3.speaker__name Amr Abdelwahab
  -#     %p.speaker__photo
  -#       %img.speaker__photo__image(src="/images/all/speakers/abdelwahab.jpg" alt="Photo of Amr Abdelwahab")
  -#     %div.speaker__bio
  -#       %p An African Egyptian native who crossed continents to work with his passion in digital |
  -#       environments. Amr's interests span technology, tech-communities, politics and politics in |
  -#       tech, all enriched through various software engineering roles in Egypt, Hungary and |
  -#       Germany. |
  -#
  -#     %ol.speaker__links
  -#       %li
  -#         %a(href="https://twitter.com/amrabdelwahab") @amrabdelwahab
  -#
  -#   %div.grid__cell.speaker
  -#     %h3.speaker__name Vishal Chandnani
  -#     %p.speaker__photo
  -#       %img.speaker__photo__image(src="/images/all/speakers/Vishal.jpeg" alt="Photo of Vishal Chandnani")
  -#     %div.speaker__bio
  -#       %p Vishal spent most of his childhood in Dubai, UAE. He earned his Bachelor’s degree in |
  -#       Electronics and Telecommunications Engineering from Pune University (India) and his |
  -#       \Master’s degree in Electrical Engineering from Syracuse University. Vishal started his |
  -#       professional career at Lucent Technologies (Bell Labs Innovations), where he developed |
  -#       and supported software for CDMA wireless communication systems. Prior to joining Def |
  -#       Method, Vishal worked at The Boeing Company, where he developed and supported software for |
  -#       the US Government Intelligence Community. Vishal enjoys going to the beach and loves |
  -#       family vacations. |
  -#
  -#     %ol.speaker__links
  -#       %li
  -#         %a(href="https://www.linkedin.com/in/vchandnani") linkedin.com/in/vchandnani
  -#       %li
  -#         %a(href="https://github.com/vchandnani") github.com/vchandnani
  -#
  -#   %div.grid__cell.speaker
  -#     %h3.speaker__name Paul Oguda
  -#     %p.speaker__photo
  -#       %img.speaker__photo__image(src="/images/2018/speakers/paul_o.png" alt="Photo of Paul Oguda")
  -#     %div.speaker__bio
  -#       %p Paul Oguda is a Spatial Planner with bias towards Smart Cities, an autodidact |
  -#       Programmer who loves Ruby but plays with Elixir/Erlang , Python, and Javascript at times. |
  -#       Furthermore, he loves GIS and Mapping and when not playing with computers he relaxes by |
  -#       watching local and international football. Currently Paul works at Research Solutions |
  -#       Africa as a location analyst. |
  -#
  -#     %ol.speaker__links
  -#       %li
  -#         %a(href="http://ogudah.com") ogudah.com
  -#       %li
  -#         %a(href="http://twitter.com/kamalogudah") @kamalogudah
  -#       %li
  -#         %a(href="https://github.com/kamalogudah") github.com/kamalogudah
  -#   %div.grid__cell.speaker
  -#     %h3.speaker__name Raounak Sharma
  -#     %p.speaker__photo
  -#       %img.speaker__photo__image(src="/images/all/speakers/raounak.jpg" alt="Photo of Raounak Sharma")
  -#     %div.speaker__bio
  -#       %p I am in the field of Web-development form past 3 years and I am loving it. Currently, I |
  -#       am a pursuing my undergraduation in Computer Science and working as a software developer |
  -#       in a company(Namyata). I provide services in Web-development and DevOps. When I am not |
  -#       coding you will probably find me on a football field. |
  -#
  -#     %ol.speaker__links
  -#       %li
  -#         %a(href="https://twitter.com/Raounaksharma") @Raounaksharma
  -#       %li
  -#         %a(href="http://raounak-sharma.herokuapp.com") raounak-sharma.herokuapp.com
  -#   %div.grid__cell.speaker
  -#     %h3.speaker__name Prathamesh Sonpatki
  -#     %p.speaker__photo
  -#       %img.speaker__photo__image(src="/images/all/speakers/Prathamesh.jpg" alt="Photo of Prathamesh Sonpatki")
  -#     %div.speaker__bio
  -#       %p Prathamesh is Director at BigBinary. He builds web apps using Rails and React.js!. He |
  -#       is interested in open source and contribute to many Ruby and Rails related projects. He is |
  -#       part of Rails issues team and contributes heavily to Ruby on Rails and related projects. |
  -#       He likes Emacs operating system a lot and can be found constantly tweaking his .emacs.d |
  -#
  -#     %ol.speaker__links
  -#       %li
  -#         %a(href="https://twitter.com/_cha1tanya") @_cha1tanya
  -#       %li
  -#         %a(href="https://github.com/prathamesh-sonpatki") github.com/prathamesh-sonpatki
  -#   %div.grid__cell.speaker
  -#     %h3.speaker__name Sigu Magwa
  -#     %p.speaker__photo
  -#       %img.speaker__photo__image(src="/images/all/speakers/sigu.jpg" alt="Photo of Sigu")
  -#     %div.speaker__bio
  -#       %p
  -#         An open source enthusiast who is a remote volunteer developer an open source community
  -#         %a(href="https://www.agileventures.org/") AgileVentures.
  -#         Currently a member of
  -#         %a(href="www.podiihq.com/") Podii
  -#          - software company based in Kisumu Kenya.
  -#         Previously worked remotely as a coach and developer at the Swedish based academy and |
  -#         company Craft Academy. Been working with Ruby on Rails for a while and has a growing |
  -#         interest in Elixir and Phoenix. |
  -#
  -#     %ol.speaker__links
  -#       %li
  -#         %a(href="https://twitter.com/s_igu") @s_igu
  -#       %li
  -#         %a(href="http://podiihq.com") podiihq.com
  -#   %div.grid__cell.speaker
  -#     %h3.speaker__name Itoyanagi Sakura
  -#     %p.speaker__photo
  -#       %img.speaker__photo__image(src="/images/all/speakers/sakura.png" alt="Photo ofItoyanagi Sakura")
  -#     %div.speaker__bio
  -#       %p Ruby committer, RDoc main maintainer, and Ruby core tools contributor.
  -#
  -#     %ol.speaker__links
  -#       %li
  -#         %a(href="https://twitter.com/aycabta") @aycabta
  -#       %li
  -#         %a(href="https://github.com/aycabta") github.com/aycabta
  -#       %li
  -#         %a(href="https://space-pirates.co.jp") space-pirates.co.jp
  -#   %div.grid__cell.speaker
  -#     %h3.speaker__name Marvin Hosea
  -#     %p.speaker__photo
  -#       %img.speaker__photo__image(src="/images/all/speakers/marvin.jpeg" alt="Photo of Marvin Hosea")
  -#     %div.speaker__bio
  -#       %p Marvin Collins Hosea is CEO and Founder at Apps:Lab Limited. He studied computer |
  -#       science at Moi University and after working for six companies, he quitted his job to run |
  -#       Apps:Lab Limited full time. He builds awesome stuff with PHP - Laravel, Golang, and Java |
  -#       at Apps:Lab. He is also an advocate for Docker and DevOps practices. Apart from working |
  -#       at Apps:Lab, he is passionate about building and impacting tech communities and organize |
  -#       Android254 and DroidConKE. Off tech and work, He delivers food at LetaFood and a failed |
  -#       rapper who love street food. |
  -#
  -#     %ol.speaker__links
  -#       %li
  -#         %a(href="http://appslab.co.ke/") appslab.co.ke
  -#   %div.grid__cell.speaker
  -#     %h3.speaker__name Michael Kimathi
  -#     %p.speaker__photo
  -#       %img.speaker__photo__image(src="/images/2018/speakers/michael.jpg" alt="Photo of Michael")
  -#     %div.speaker__bio
  -#       %p
  -#         Michael Kimathi has over 7 years experience working in innovative ecosystems and |
  -#         building solutions notably with BlackBerry Developer Community, Nairuby, Masomomoja, GDG, |
  -#         Unbound, |
  -#
  -#         %a(href="http://uonbi.ac.ke/") University of Nairobi
  -#         , StartupBlink, BantaMik and Atlassian. Currently, he is an entrepreneur learning from |
  -#         his past failures and developing better solutions which will impact the world we are |
  -#         living in. Previously, he was the Community Development Manager at C4DLab, where he |
  -#         worked closely with team C4DLab to develop innovation strategy, Partnership and change |
  -#         the University culture from the old status quo way of doing things to one at the |
  -#         forefront of innovation, he mentored startups, hosted events, organized entrepreneurship |
  -#         mechanics related talks with distinguished industry entrepreneurs.
  -#
  -#     %ol.speaker__links
  -#       %li
  -#         %a(href="https://twitter.com/m_k_global") @m_k_global
  -#       %li
  -#         %a(href="https://github.com/iamleader") github.com/iamleader
  -#   %div.grid__cell.speaker
  -#     %h3.speaker__name Bernard Banta
  -#     %p.speaker__photo
  -#       %img.speaker__photo__image(src="/images/2018/speakers/banta.png" alt="Photo of Bernard Banta")
  -#     %div.speaker__bio
  -#       %p
  -#         Currently the CTO and Co-founder at
  -#         %a(href="https://finplusgroup.com/") Finplus.
  -#         Banta is a computer scientist and an entrepreneur. He is passionate about technology |
  -#         and how it can be used to leverage and transform Africa in the way we live, work, play |
  -#         and govern. In his spare time, he'll often preside over executive and media talks on his |
  -#         pet subjects of entrepreneurship, innovation and transformation using technology. When |
  -#         it comes to building, his ultimate goal is to make the world a better place. He is an |
  -#         entrepreneur and an engineer on the bleeding edge of technology. |
  -#
  -#     %ol.speaker__links
  -#       %li
  -#         %a(href="https://finplusgroup.com/") finplusgroup.com
  -#       %li
  -#         %a(href="https://twitter.com/bantab") @bantaB
  -#       %li
  -#         %a(href="https://github.com/banta") github.com/banta
