%section#sponsors.body-section--sponsors
  %h2 Sponsors
  %p RubyConf KE Nairobi 2024 is made possible through the generous support of our sponsors. |
  Please give them your support&nbsp;too. |

  %h3 Coming Soon!

  -# %h3 Startup Sponsors
  -# %ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
  -#   %li.sponsors__sponsor.sponsors__sponsor--ihum
  -#     %a(href="https://kopokopo.co.ke/")
  -#       %img(src="/images/all/sponsors/kopokopo.png" alt="kopokopo")
  -#   %li.sponsors__sponsor.sponsors__sponsor--ihum
  -#     %a(href="http://nairuby.org/")
  -#       %img(src="/images/all/sponsors/bantamik.png" alt="BantaMik")
  -#
  -# %h3 Supporters
  -# %ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
  -#   %li.sponsors__sponsor.sponsors__sponsor--ihum
  -#     %a(href="https://ihub.co.ke/")
  -#       %img(src="/images/all/sponsors/ihub.png" alt="iHub Nairuby")
  -#   %li.sponsors__sponsor.sponsors__sponsor--ihum
  -#     %a(href="https://www.cookieshq.co.uk/")
  -#       %img(src="/images/all/sponsors/cookieshq.png" alt="cookieshq")
  -#   %li.sponsors__sponsor.sponsors__sponsor--ihum
  -#     %a(href="https://www.ibm.com")
  -#       %img(src="/images/all/sponsors/ibm.jpg" alt="IBM")
  -#   %li.sponsors__sponsor.sponsors__sponsor--ihum
  -#     %a(href="https://appslab.co.ke")
  -#       %img(src="/images/all/sponsors/appslab.png" alt="AppLab")
  -# %ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
  -#   %li.sponsors__sponsor.sponsors__sponsor--ihum
  -#     %a(href="https://lipalater.com/")
  -#       %img(src="/images/all/sponsors/lipalater.png" alt="lipalater")
