%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %h1.body-section--event-header__event
        %span.event-title RubyConf
        %span.event-title Kenya
        %span.two-oh-one-five
        %span.two 2
        %span.oh 0
        %span.two 2
        %span.oh 0
        %span>
      %h4 THEME: AGILE, OPEN SOURCE AND ENTREPRENEURSHIP
      %p On the 23rd to 24th July 2020 leading Ruby developers from around the world will come |
      together to share, inspire and learn. |

      -#%a(href="/pdfs/2018/Ruby%20Conference%20Schedule.pdf" target="_blank" ) View schedule.
      %h2.body-section--event-header__city
        %span Nairobi
        %span Kenya
      %h3.body-section--event-header__date
        23
        %sup> rd
        &nbsp25
        %sup> th
        &nbspJuly 2020
    .body-section--event-header__tickets
      %a.button(href="http://meetu.ps/e/GCWQJ/1XVb3/f") Register Now!

%section.site-nav

  %a(href="#attending") Attending
  %a(href="#venue") Location
  %a(href="#speakers") Speakers
  %a(href="#conference") Conference
  %a(href="#sponsors") Sponsors
  %a(href="#conduct") Code of Conduct
  %a(href="#contact") Contact

#after-nav

%section#attending.body-section--attending
  %h2 Attending

  %p
    RubyConf Kenya is an inclusive conference and as such strives to be
    %a(href="#conduct") welcoming
    and accessible to as many people as possible.
%section#venue.body-section--venue
  %h2 Location
  %img.body-section__header-image{src:'/images/2016/bg.jpg'}
  %p All the conference sessions will be held at iHub, 6th Floor, Senteu Plaza Galana/Lenana Road |
  Junction · Nairobi |

  %p
    %a.button(href="https://goo.gl/maps/ocFot5hS4iG2") Directions
%section#speakers.body-section--content
  %h2 Speakers

  %div.grid
    %div.grid__cell.speaker
      %h3.speaker__name Michael Kimathi
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/michael.jpg" alt="Photo of Michael")
      %div.speaker__bio
        %p
          Michael Kimathi has over 7 years experience working in innovative ecosystems and |
          building solutions notably with BlackBerry Developer Community, Nairuby, Masomomoja, GDG, |
          Unbound, |

          %a(href="http://uonbi.ac.ke/") University of Nairobi
          , StartupBlink, BantaMik and Atlassian. Currently, he is an entrepreneur learning from |
          his past failures and developing better solutions which will impact the world we are |
          living in. Previously, he was the Community Development Manager at C4DLab, where he |
          worked closely with team C4DLab to develop innovation strategy, Partnership and change |
          the University culture from the old status quo way of doing things to one at the |
          forefront of innovation, he mentored startups, hosted events, organized entrepreneurship |
          mechanics related talks with distinguished industry entrepreneurs.

      %ol.speaker__links
        %li
          %a(href="https://twitter.com/m_k_global") @m_k_global
        %li
          %a(href="https://github.com/iamleader") github.com/iamleader
    %div.grid__cell.speaker
      %h3.speaker__name Bernard Banta
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/banta.png" alt="Photo of Bernard Banta")
      %div.speaker__bio
        %p
          Currently the CTO and Co-founder at
          %a(href="https://finplusgroup.com/") Finplus.
          Banta is a computer scientist and an entrepreneur. He is passionate about technology |
          and how it can be used to leverage and transform Africa in the way we live, work, play |
          and govern. In his spare time, he'll often preside over executive and media talks on his |
          pet subjects of entrepreneurship, innovation and transformation using technology. When |
          it comes to building, his ultimate goal is to make the world a better place. He is an |
          entrepreneur and an engineer on the bleeding edge of technology. |

      %ol.speaker__links
        %li
          %a(href="https://finplusgroup.com/") finplusgroup.com
        %li
          %a(href="https://twitter.com/bantab") @bantaB
        %li
          %a(href="https://github.com/banta") github.com/banta
%section#conference.body-section--content
  %h2 Conference
  %p
    23
    %sup rd
    to 25
    %sup th
    July at iHub, 6th Floor, Senteu Plaza Galana/Lenana Road Junction · Nairobi. |

  %p
    %a.button(href="https://goo.gl/maps/ocFot5hS4iG2" target="_blank") Directions
  %p
    %a.button(href="#" target="_blank") View schedule (Coming soon)

%section#sponsors.body-section--sponsors
  %h2 Sponsors
  %p RubyConf KE Nairobi 2020 is made possible through the generous support of our sponsors. |
  Please give them your support&nbsp;too. |

  %h3 Startup Sponsors
  %h3 Supporters
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
    %li.sponsors__sponsor.sponsors__sponsor--ihum
      %a(href="https://ihub.co.ke/")
        %img(src="/images/all/sponsors/ihub.png" alt="iHub Nairuby")

%section#conduct.body-section--content
  %h2 Code of Conduct
  %p
    RubyConf Kenya is run under the auspices of Ruby Kenya. You can view our
    %a(href="http://nairuby.org/about/code-of-conduct/" target="_blank") code of conduct.
    These rules must be followed by all attendees at all conference-related events.
