%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %h1.body-section--event-header__event <span class="event-title">RubyConf</span> <span class="event-title">Kenya</span> <span class="two-oh-one-five"><span class="two">2</span><span class="oh">0</span><span class="one">1</span><span class="five">8<span></span>
      %h4 THEME: AGILE, OPEN SOURCE AND ENTREPRENEURSHIP
      %p On the 28th to 30th June 2018 leading Ruby developers from around the world will come together to share, inspire and learn.
      -#%a(href="/pdfs/2017/Ruby%20Conference%20Schedule.pdf" target="_blank" ) View schedule.
      %h2.body-section--event-header__city <span>Nairobi</span> <span>Kenya</span>
      %h3.body-section--event-header__date 28<sup>th</sup>-30<sup>th</sup> June 2018
    .body-section--event-header__tickets
      %a.button(href="https://www.eventbrite.com/e/ruby-conference-kenya-2018-tickets-39442115429") Register Now!

%section.site-nav

  %a(href="#attending") Attending
  %a(href="#venue") Location
  %a(href="#speakers") Speakers
  %a(href="#conference") Conference
  %a(href="#sponsors") Sponsors
  %a(href="#conduct") Code of Conduct
  %a(href="#contact") Contact

#after-nav

%section#attending.body-section--attending
  %h2 Attending

  %p RubyConf Kenya is an inclusive conference and as such strives to be <a href="/2015/policies#code">welcoming</a> and <a href="/2015/accessibility">accessible</a> to as many people as possible.

%section#venue.body-section--venue
  %h2 Location
  %img.body-section__header-image{src:'/images/2016/bg.jpg'}
  %p All the conference sessions will be held at Room G15, School of Computing Sciences, Riara University, Mbagathi Way, Nairobi
  %p <a href="https://goo.gl/maps/NbogfGJacSx" class="button">Directions</a>

%section#speakers.body-section--content
  %h2 Speakers

  %div.grid
    %div.grid__cell.speaker
      %h3.speaker__name Kirsten Westeinde
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/kirsten.jpg" alt="Photo of Kirsten Westeinde")
      %div.speaker__bio
        %p Kirsten Westeinde is a technology enthusiast and a lifelong learner. She is a senior software engineer at Shopify, where she solves challenging web development problems every day. She has worked with Ruby on Rails for ~5 years, and is constantly adding new tools to her technology tool belt. She is passionate about building diverse teams, and gaining new perspectives through travel & cross cultural communication. When she's not working, you will most likely find her out exploring in nature.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/kmkwesteinde") @kmkwesteinde
    %div.grid__cell.speaker
      %h3.speaker__name Johnny Winn
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/johnny_winn.jpeg" alt="Photo of Johnny Winn")
      %div.speaker__bio
        %p Johnny is the host of the Elixir Fountain podcast and long time Elixir/Ruby evangelist. His work with the Elixir language is approaching 5 years with both open source and production Elixir libraries and applications. Having been a part of the language's community for a number of years, he has a unique perspective and loves to share his findings with whomever is interested.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/johnny_rugger") @johnny_rugger
        %li
          %a(href="https://soundcloud.com/elixirfountain") soundcloud.com/elixirfountain
    %div.grid__cell.speaker
      %h3.speaker__name Joannah Nanjekye
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/najenkye.png" alt="Photo of Joannah Nanjekye")
      %div.speaker__bio
        %p Joannah Nanjekye is a Rails girls summer of code alumni , Software Engineer and Aeronautical Engineer to be from Kampala, Uganda that has held two programming positions working on fintech projects. she writes a lot of python , ruby and golang. She is a proud open source contributor where started in summer programs like outreachy and Rails girls summer of code working on qutebrowser and Ceph writing. She is the author of Python 2 and 3 Compatibility a book published by Apress. When not coding, she gets curious about space and galaxies plus a bit of guitar.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/Captain_Joannah") @Captain_Joannah
        %li
          %a(href="http://nanjekyejoannah.github.io/") nanjekyejoannah.github.io
    %div.grid__cell.speaker
      %h3.speaker__name PJ Hagerty
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/hagerty.png" alt="Photo of Hagerty")
      %div.speaker__bio
        %p Developer, writer, speaker, musician, and founder of DevRelate.io, PJ is known to travel the world speaking about programming and the way people think and interact. He is also known for wearing hats.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/aspleenic") @aspleenic
        %li
          %a(href="http://www.devrelate.io/") devrelate.io
    %div.grid__cell.speaker
      %h3.speaker__name William Wanyama
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/william.png" alt="Photo of William")
      %div.speaker__bio
        %p William Wanyama is a software engineer at <a href="https://www.kloeckner-i.com/en/">Kloeckner.i</a> in Berlin, and a passionate (although remote) member of the Nairuby scene. Having spent a couple of years in Nairobi hustling and bustling with his own tech startup, he now likes to mentor and give back to other upcoming Ruby entrepreneurs in the region.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/wanyama_man") @wanyama_man
        %li
          %a(href="https://github.com/wanyamaman") github.com/wanyamaman
    %div.grid__cell.speaker
      %h3.speaker__name Ruberto Paulo
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/ruberto_paulo.png" alt="Photo of rob_legend")
      %div.speaker__bio
        %p I am Ruberto Paulo, I live in sunny South Africa. I am an Organizer for the Ruby conference we have here in South Africa: rubyfuza.org.za. I have worked with Ruby the last 7 years and have loved every second of it. I spoke last year at the RubyDevSummit and on RubyRouges -> https://devchat.tv/ruby-rogues/rr-325-date-night-ruby-ruberto-paulo about improving your relationship with ruby. I really love the Ruby community and all it does to make the world a better place. I spend most of my spare time on reading and developing new skills.
        %li
          %a(href="https://twitter.com/rob_legend") @rob_legend
    %div.grid__cell.speaker
      %h3.speaker__name Anton Davydov
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/anton.jpeg" alt="Photo of Anton Davydov")
      %div.speaker__bio
        %p I'm Hanami core developer and an indie developer from Moscow. I work on different open source projects and builds Space-Rocket ships at night. Blurb: I think we can make ruby world better and hanami is one of library which can help with it :) The hanami is quite new and interesting framework which you are unlikely to write complex applications. But this does not mean that this framework is not worth your attention. Besides old approaches, you can also find new interesting solutions.
        %li
          %a(href="https://twitter.com/anton_davydov") @anton_davydov
        %li
          %a(href="http://davydovanton.com") davydovanton.com
    %div.grid__cell.speaker
      %h3.speaker__name Paul Stefan Ort
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/stefan.jpeg" alt="Photo of Paul Stefan Ort")
      %div.speaker__bio
        %p Paul Stefan Ort is a software engineer at Def Method in New York City, currently building Dependable for automated dependency updates.
        %li
          %a(href="https://twitter.com/crystalcy") @crystalcy
        %li
          %a(href="https://www.pso.io") www.pso.io
    %div.grid__cell.speaker
      %h3.speaker__name Michael Kimathi
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/michael.jpg" alt="Photo of Michael")
      %div.speaker__bio
        %p Michael Kimathi has over 7 years experience working in innovative ecosystems and building solutions notably with BlackBerry Developer Community, Nairuby, Masomomoja, GDG, Unbound, <a href="http://uonbi.ac.ke/">University of Nairobi</a>, StartupBlink, BantaMik and Atlassian. Currently, he is an entrepreneur learning from his past failures and developing better solutions which will impact the world we are living in. Previously, he was the Community Development Manager at C4DLab, where he worked closely with team C4DLab to develop innovation strategy, Partnership and change the University culture from the old status quo way of doing things to one at the forefront of innovation, he mentored startups, hosted events, organized entrepreneurship mechanics related talks with distinguished industry entrepreneurs.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/m_k_global") @m_k_global
        %li
          %a(href="https://github.com/iamleader") github.com/iamleader
    %div.grid__cell.speaker
      %h3.speaker__name Tim Rogers
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/tim_rogers.jpg" alt="Photo of Tim Rogers")
      %div.speaker__bio
        %p Tim is a Software Engineer at GoCardless, a fintech startup based in London building a global bank-to-bank payments network for the internet. Since joining GoCardless 6 years ago, Tim has worked across the business in a variety of roles, from running the customer support operation in the company's first few years to helping the sales team build effective practices and processes. He loves spending his day building powerful and well-documented APIs to maximize developer happiness.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/timrogers") @timrogers
        %li
          %a(href="https://timrogers.co.uk") timrogers.co.uk
    %div.grid__cell.speaker
      %h3.speaker__name Bernard Banta
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/banta.png" alt="Photo of Bernard Banta")
      %div.speaker__bio
        %p A Computer Scientist and true entrepreneur, he is the founder of Banta Technologies (BT). He has always been passionate about technology and how it can be used to leverage and transform Africa in the way we live, work, play and govern. When it comes to building, his ultimate goal is to make the world a better place. Banta is an entrepreneur and an engineer on the bleeding edge of technology.
      %ol.speaker__links
        %li
          %a(href="http://bbanta.com/") bbanta.com
        %li
          %a(href="http://twitter.com/bantab") @bantaB
        %li
          %a(href="http://github.com/banta") github.com/banta
    %div.grid__cell.speaker
      %h3.speaker__name Yatish Mehta
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/yatish.png" alt="Photo of Yatish Mehta")
      %div.speaker__bio
        %p I am Yatish, Software Engineer at Coupa Software. NC State Graduate, I have been part of Fab.com and Sungard. Ruby is my first love and I am still committed to her. Recently, I have started to toy with Golang. If not experimenting with software, I love experimenting with flavors. I am big Suits fan.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/yatish27") @yatish27
        %li
          %a(href="http://www.yatishmehta.com/") yatishmehta.com
    %div.grid__cell.speaker
      %h3.speaker__name Paul Oguda
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/paul_o.png" alt="Photo of Paul Oguda")
      %div.speaker__bio
        %p Paul Oguda is a Spatial Planner with bias towards Smart Cities, an autodidact Programmer who loves Ruby but plays with Elixir/Erlang , Python, and Javascript at times. Furthermore, he loves GIS and Mapping and when not playing with computers he relaxes by watching local and international football. Currently Paul works at Research Solutions Africa as a location analyst.
      %ol.speaker__links
        %li
          %a(href="http://ogudah.com") ogudah.com
        %li
          %a(href="http://twitter.com/kamalogudah") @kamalogudah
        %li
          %a(href="https://github.com/kamalogudah") github.com/kamalogudah
    %div.grid__cell.speaker
      %h3.speaker__name Raounak Sharma
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/sharma.png" alt="Photo of default")
      %div.speaker__bio
        %p A passionate software developer who uses Ruby to express in code is what defines me. I am in the field of Web-development form past 3 years and I am loving it. Currently, I am a pursuing my undergraduation in Computer Science and working as a software developer in a company(Namyata). I provide services in Web-development and DevOps. When I am not coding you will probably find me on a football field.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/Raounaksharma") @Raounaksharma
        %li
          %a(href="https://raounak-sharma.herokuapp.com/") raounak-sharma.herokuapp.com
    %div.grid__cell.speaker
      %h3.speaker__name Katelyn Hertel
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/hertel.png" alt="Photo of hertel")
      %div.speaker__bio
        %p Katelyn is a Technical Account Manager (TAM) at SimpleReach in New Yor City, where she spends her time working on technical implementations and studying something new every day. Before she was a TAM at SimpleReach she was a Customer Support Engineer for 2 years and attended the bootcamp Bloc.io where she studied Ruby & Rails code. In her free time she enjoys rock climbing, playing soccer & piano, looking at pictures of puppies, and playing video games.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/Katers_Potaters") @Katers_Potaters
        %li
          %a(href="http://www.katelynhertel.com") www.katelynhertel.com
    %div.grid__cell.speaker
      %h3.speaker__name Caleb Thompson
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/caleb.png" alt="Photo of hertel")
      %div.speaker__bio
        %p Speaker, developer, painter, gamer: an eccentric eclectic. Caleb is currently coding mostly in Ruby and Go. He's not a fan of the SPA.<br/>He has braved the wintry tundra of Alaska and the harsh deserts of Arizona. He has fired a Mosin-Nagant without blinking, fought the Red Menace, built Battleship Couch, and killed a bear and wore its pelt.<He enjoys fine wines, craft beers, and punching comets
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/calebthompson") @calebthompson
        %li
          %a(href="http://calebthompson.io/") calebthompson.io
    %div.grid__cell.speaker
      %h3.speaker__name Sigu Magwa
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/sigu.jpg" alt="Photo of Sigu")
      %div.speaker__bio
        %p An open source enthusiast who is a remote volunteer developer an open source community <a href="https://www.agileventures.org/">AgileVentures</a>. Currently a member of <a href="www.podiihq.com/">Podii</a> - software company based in Kisumu Kenya. Previously worked remotely as a coach and developer at the Swedish based academy and company Craft Academy. Been working with Ruby on Rails for a while and has a growing interest in Elixir and Phoenix.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/s_igu") @s_igu
        %li
          %a(href="http://podiihq.com") podiihq.com
    %div.grid__cell.speaker
      %h3.speaker__name Brian Holt
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/holt.jpeg" alt="Photo of holt")
      %div.speaker__bio
        %p Brian is currently working as a senior cloud developer advocate at Microsoft and he's all about developers, developers, developers. Previously he was a JavaScript engineer at Netflix, LinkedIn and Reddit. When not working, Brian finds time to teach on Frontend Masters, run his mouth on Front End Happy Hour, travel all over the world, and play with his adorable dog. Brian is currently a resident of San Francisco, CA.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/holtbt") @holtbt
%section#conference.body-section--content
  %h2 Conference
  %p 28<sup>th</sup> to 30<sup>th</sup> June at Room G15, School of Computing Sciences, Riara University, Mbagathi Way, Nairobi.
  %p <a href="https://goo.gl/maps/NbogfGJacSx" target="_blank" class="button">Directions</a>
  -#%a(href="/pdfs/2018/Ruby%20Conference%20Schedule.pdf" target="_blank" ) View schedule.

%section#sponsors.body-section--sponsors
  %h2 Sponsors
  %p RubyConf KE Nairobi 2018 is made possible through the generous support of our sponsors. Please give them your support&nbsp;too.
  %h3 Supporters
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
    %li.sponsors__sponsor.sponsors__sponsor--gitlab
      <a href="http://gitlab.com/"><img src="/images/2016/sponsors/gitlab.png" alt="gitlab"></a>

%section#conduct.body-section--content
  %h2 Code of Conduct
  %p RubyConf Kenya is run under the auspices of Ruby Kenya. You can view our <a href="http://nairuby.org/about/code-of-conduct/" target="_blank">code of conduct</a>. These rules must be followed by all attendees at all conference-related events.
