%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %h1.body-section--event-header__event <span class="event-title">RubyConf</span> <span class="event-title">Kenya</span> <span class="two-oh-one-five"><span class="two">2</span><span class="oh">0</span><span class="one">1</span><span class="five">8<span></span>
      %h4 THEME: AGILE, OPEN SOURCE AND ENTREPRENEURSHIP
      %p On the 8th to 10th June 2018 leading Ruby developers from around the world will come together to share, inspire and learn.
      %a(href="/pdfs/2017/Ruby%20Conference%20Schedule.pdf" target="_blank" ) View schedule.
      %h2.body-section--event-header__city <span>Nairobi</span> <span>Kenya</span>
      %h3.body-section--event-header__date 8<sup>th</sup>-10<sup>th</sup> June 2018
    .body-section--event-header__tickets
      %a.button(href="http://gettikets.com/events/8-ruby-conference-kenya-2017/view") Register Now!

%section.site-nav
  %a(href="#attending") Attending
  %a(href="#venue") Location
  %a(href="#speakers") Speakers
  %a(href="#conference") Conference
  %a(href="#sponsors") Sponsors
  %a(href="#conduct") Code of Conduct
  %a(href="#contact") Contact

#after-nav

%section#attending.body-section--attending
  %h2 Attending

  %p RubyConf Kenya is an inclusive conference and as such strives to be <a href="/2015/policies#code">welcoming</a> and <a href="/2015/accessibility">accessible</a> to as many people as possible.

%section#venue.body-section--venue
  %h2 Location
  %img.body-section__header-image{src:'/images/2016/bg.jpg'}
  %p All the conference sessions will be held at Room G15, School of Computing Sciences, Riara University, Mbagathi Way, Nairobi.
  %p <a href="https://goo.gl/maps/NbogfGJacSx" class="button">Directions</a>

%section#speakers.body-section--content
  %h2 Speakers

  %div.grid
    %div.grid__cell.speaker
      %h3.speaker__name Joannah Nanjekye
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2017/speakers/joannah.png" alt="Photo of Mike Joannah")
      %div.speaker__bio
        %p Joannah Nanjekye is a Rails girls summer of code alumnae , Rails girls Kampala organizer and software engineer
        that has held two programming positions working on fintech solutions.She is currently pursuing Aeronautical
        engineering. She is a FOSS contributor and writes mostly python , ruby and golang code.
      %ol.speaker__links
        %li
          %a(href="http://nanjekyejoannah.github.io/") nanjekyejoannah.github.io
        %li
          %a(href="http://twitter.com/Captain_Joannah") @Captain_Joannah
        %li
          %a(href="http://github.com/nanjekyejoannah") github.com/nanjekyejoannah
    %div.grid__cell.speaker
      %h3.speaker__name Prof. Robert Gateru
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2017/speakers/prof_gateri.png" alt="Photo of Prof. Robert Gateru")
      %div.speaker__bio
        %p Prof. Robert Gateru, Vice Chancellor of Riara University is holder of a PhD in Microelectronic Engineering & Semiconductor Device Physics from the University of Surrey (UK). He is a seasoned academic, with over 10 years teaching and administration experience in various universities; he serves on a number of Boards, including Rural Electrification Authority, LIWA (Linking Industry With Academia) Kenya Trust and the Rift Valley Institute of Science & Technology. He is a Fellow of the Cambridge Commonwealth Society, a Senior Member of the IEEE.
      %ol.speaker__links
        %li
          %a(href="http://www.riarauniversity.ac.ke/vc-prof-robert-gateru/") riarauniversity.ac.ke/vc-prof-robert-gateru
    %div.grid__cell.speaker
      %h3.speaker__name Mike McQuaid
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2017/speakers/mike.jpeg" alt="Photo of Mike McQuaid")
      %div.speaker__bio
        %p Mike McQuaid is a senior software engineer working on open source at GitHub based in Edinburgh.
        He is also the lead maintainer of the Homebrew MacOS package manager, author of Git in Practice
        (published with Manning) and has contributed to a wide array of open source projects.
      %ol.speaker__links
        %li
          %a(href="http://mikemcquaid.com/") mikemcquaid.com
        %li
          %a(href="http://twitter.com/MikeMcQuaid") @MikeMcQuaid
        %li
          %a(href="http://github.com/MikeMcQuaid") github.com/MikeMcQuaid
    %div.grid__cell.speaker
      %h3.speaker__name Victor Shepelev
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2017/speakers/pivorak.png" alt="Photo of Mike McQuaid")
      %div.speaker__bio
        %p Ukrainian programmer and poet with more than fifteen years of programming experience and ten years of Ruby programming. Working at Toptal, mentoring students (including Google Summer of Code-2016 & 2017, as a mentor for SciRuby organization), developing open source (Ruby Association Grant 2015)
      %ol.speaker__links
        %li
          %a(href="http://zverok.github.io") zverok.github.io
        %li
          %a(href="https://twitter.com/zverok") @Zverok
        %li
          %a(href="http://github.com/zverok") github.com/zverok
    %div.grid__cell.speaker
      %h3.speaker__name Ben Hughes
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2017/speakers/ben_hughes.png" alt="Photo of Ben Hughes")
      %div.speaker__bio
        %p Ben Hughes is the tech lead of the Performance Engineering team at Airbnb, where he works to understand and improve the performance and reliability of their systems.  Prior to this, he was focused on scaling Airbnb's databases for over an order of magnitude of growth.  Ben lives in New York City and enjoys skiing and travel.
      %ol.speaker__links
        %li
          %a(href="http://www.pixelmachine.org/") pixelmachine
        %li
          %a(href="http://twitter.com/schleyfox") @schleyfox
        %li
          %a(href="http://github.com/schleyfox") github.com/schleyfox
    %div.grid__cell.speaker
      %h3.speaker__name William Wanyama
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2017/speakers/william.png" alt="Photo of William")
      %div.speaker__bio
        %p With an Electrical and Computer Engineering background, William started his development career as a python developer in Sydney before joining the Nairobi startup scene as a Green Member at iHub. He's now a self proclaimed Rubyist and spends most of his time contributing to Open Source Software while building his startup.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/wanyama_man") @wanyama_man
        %li
          %a(href="https://github.com/wanyamaman") github.com/wanyamaman
    %div.grid__cell.speaker
      %h3.speaker__name Michael Kimathi
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2017/speakers/michael.jpg" alt="Photo of Michael")
      %div.speaker__bio
        %p Michael Kimathi has over 7 years experience working in innovative ecosystems and building solutions notably with BlackBerry Developer Community, Nairuby, Masomomoja, GDG, Unbound, <a href="http://uonbi.ac.ke/">University of Nairobi</a>, StartupBlink, BantaMik and Atlassian. Currently, he is an entrepreneur learning from his past failures and developing better solutions which will impact the world we are living in. Previously, he was the Community Development Manager at C4DLab, where he worked closely with team C4DLab to develop innovation strategy, Partnership and change the University culture from the old status quo way of doing things to one at the forefront of innovation, he mentored startups, hosted events, organized entrepreneurship mechanics related talks with distinguished industry entrepreneurs.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/mikekimmathi") @mikekimmathi
        %li
          %a(href="https://github.com/iamleader") github.com/iamleader
    %div.grid__cell.speaker
      %h3.speaker__name Rishi Jain
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2017/speakers/rishi.png" alt="Photo of Rishi")
      %div.speaker__bio
        %p I have been working as a web developer for the past 6 years. I like to talk at conferences as it gives me chance to make new friends and travel to places. I also like to indulge in sports.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/jainrishi15") @jainrishi15
        %li
          %a(href="https://github.com/rishijain") github.com/rishijain
    %div.grid__cell.speaker
      %h3.speaker__name James Corey
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2017/speakers/james_corey.jpg"  alt="Photo of James Corey")
      %div.speaker__bio
        %p Based in Madison, Wisconsin, USA, James Corey is a full stack developer with over 2 years of experience in Ruby on Rails, Javascript and HTML/CSS.  Since joining Bendyworks in June 2016, James has served as project lead for a Ruby on Rails application connecting at-risk youth with college athlete mentors.  He has also worked with start-up award-winning Polco, on their Ruby on Rails application with MongoDB.  Additionally, he holds an MBA and a Masters in International Management.  Having worked previously as a fundraiser for international non-profit organizations, James is passionate about melding technology, business and humanitarianism to build businesses that utilize technology for the greater good.  When not slinging code, James likes to eat his wife's spicy Ghanaian food, play with his kids, run half-marathons (at sub-Kenyan pace) and dream up new business ideas.
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/jamesrcorey") @jamesrcorey
        %li
          %a(href="https://twitter.com/mmjames04") github.com/mmjames04
    %div.grid__cell.speaker
      %h3.speaker__name Bozhidar Batsov
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2017/speakers/batzov.jpg" alt="Photo of Bozhidar Batsov")
      %div.speaker__bio
        %p Bozhidar is the author of RuboCop and the editor of the community Ruby and Rails style guides. Most people would probably describe him as an Emacs zealot (and they would be right). He's also quite fond of the Lisp family of languages, functional programming in general and Clojure in particular. Believe it or not, Bozhidar has hobbies and interests outside the realm of computers, but we won't bore with those here.
      %ol.speaker__links
        %li
          %a(href="http://batsov.com") batsov.com
        %li
          %a(href="http://twitter.com/bbatsov") @bbatsov
        %li
          %a(href="http://github.com/bbatsov") github.com/bbatsov
    %div.grid__cell.speaker
      %h3.speaker__name Prof. Felix Musau
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2017/speakers/musau.png" alt="Photo of Prof. Felix Musau")
      %div.speaker__bio
        %p Prof Felix Musau is the founding Dean, Riara School of Computing Sciences, and Former Director ICT Kenyatta University. He holds a PhD and MSc in Computer Science and Technology from the Central South University of Technology, P.R China. He is an Expert in computer science and Technology, Researcher, Publisher of Scientific articles in Conferences and Journals as well as Supervisor of many PhD and Master Students in Computing. He is also a motivational speaker in Achieving Academic Excellence as well as computing forums. His current main research interests are in innovation, Trust and security of Network Transactions, Business and Information Management, Mobile computing and Cyber Security.      %ol.speaker__links
        %li
          %a(href="http://www.riarauniversity.ac.ke/prof-felix-musau/") riarauniversity.ac.ke/prof-felix-musau
    %div.grid__cell.speaker
      %h3.speaker__name Bernard Banta
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2016/speakers/banta.jpg" alt="Photo of Bernard Banta")
      %div.speaker__bio
        %p A Computer Scientist and true entrepreneur, he is the founder of Banta Technologies (BT). He has always been passionate about technology and how it can be used to leverage and transform Africa in the way we live, work, play and govern. When it comes to building, his ultimate goal is to make the world a better place. Banta is an entrepreneur and an engineer on the bleeding edge of technology.
      %ol.speaker__links
        %li
          %a(href="http://bbanta.com/") bbanta.com
        %li
          %a(href="http://twitter.com/bantab") @bantaB
        %li
          %a(href="http://github.com/banta") github.com/banta
    %div.grid__cell.speaker
      %h3.speaker__name Paul Oguda
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2017/speakers/paul_o.png" alt="Photo of Paul Oguda")
      %div.speaker__bio
        %p Paul Oguda is a Spatial Planner with bias towards Smart Cities, an autodidact Programmer who loves Ruby but plays with Elixir/Erlang , Python, and Javascript at times. Furthermore, he loves GIS and Mapping and when not playing with computers he relaxes by watching local and international football. Currently Paul works at Research Solutions Africa as a location analyst.
      %ol.speaker__links
        %li
          %a(href="http://ogudah.com") ogudah.com
        %li
          %a(href="http://twitter.com/kamalogudah") @kamalogudah
        %li
          %a(href="https://github.com/kamalogudah") github.com/kamalogudah
    %div.grid__cell.speaker
      %h3.speaker__name Angela Kihara
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2017/speakers/angela.png" alt="Photo of Angela")
      %div.speaker__bio
        %p Angela has a degree in BBIT from Strathmore University with an expertise in software and website creation. Together with a couple of friends, they run an IT Consultancy firm called 1809 LTD-funny story there. She is currently pursuing a second degree in Law at Riara University. Other skills under her belt are event organising and management for art shows around Nairobi. She have an inclination to the arts with a liking specifically for music and other visual arts.
      %ol.speaker__links
        %li
          %a(href="http://utopianfantasy.co.ke/") utopianfantasy.co.ke
        %li
          %a(href="http://twitter.com/utopian_fantasy") @utopian_fantasy
    %div.grid__cell.speaker
      %h3.speaker__name Godfrey Njoroge
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2017/speakers/njoroge.jpg" alt="Photo of Godfrey Njoroge")
      %div.speaker__bio
        %p  I am a Bachelor of Science student taking Computer Science currently in 4th year. I am a versatile student who loves challenges since they make me grow.
      %ol.speaker__links
        %li
          %a(href="http://twitter.com/godfreynjoroge1") @godfreynjoroge1
        %li
          %a(href="https://github.com/godfrey123") github.com/godfrey123
    %div.grid__cell.speaker
      %h3.speaker__name Karagania Mwamlole
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2017/speakers/karagania.png" alt="Photo of Karagania Mwamlole")
      %div.speaker__bio
        %p A free-speaking, problem-solving, ever-smiling, results-oriented student of Computer Science. Also co-founder of ummah.co.ke and TV presenter at Horizon TV.
      %ol.speaker__links
        %li
          %a(href="http://twitter.com/karagania_mlole") @karaganiamlole
        %li
          %a(href="https://github.com/karagania") github.com/karagania
%section#conference.body-section--content
  %h2 Conference
  %p 8<sup>th</sup> to 10<sup>th</sup> June at Room G15, School of Computing Sciences, Riara University, Mbagathi Way, Nairobi.
  %p <a href="https://goo.gl/maps/NbogfGJacSx" target="_blank" class="button">Directions</a>
  %a(href="/pdfs/2017/Ruby%20Conference%20Schedule.pdf" target="_blank" ) View schedule.

%section#sponsors.body-section--sponsors
  %h2 Sponsors
  %p RubyConf KE Nairobi 2017 is made possible through the generous support of our sponsors. Please give them your support&nbsp;too.
  -#%h3 Ruby Sponsor
  -#%ol.sponsors__sponsor-list.sponsors__sponsor-list--ruby
  -#  %li.sponsors__sponsor.sponsors__sponsor--github
  -#    <a href="http://github.com/"><img src="/images/2015/sponsors/github.png" alt="GitHub"></a>
  -#%h3 Emerald Sponsors
  -#%ol.sponsors__sponsor-list.sponsors__sponsor-list--emerald
  -#
  -#  %li.sponsors__sponsor.sponsors__sponsor--bantamik
  -#    <a href="http://bantamik.com/"><img src="/images/2015/sponsors/bantamik.png" alt="BantaMik"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--techweez
  -#    <a href="http://www.techweez.com/"><img src="/images/2016/sponsors/techweez.png" alt="Techweez"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--rea
  -#    <a href="http://realestate.com.au/"><img src="/images/2015/sponsors/rea.png" alt="realestate.com.au"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--reinteractive
  -#    <a href="https://reinteractive.net/"><img src="/images/2015/sponsors/reinteractive.png" alt="reinteractive"></a>
  -#%h3 Sapphire Sponsors
  -#%ol.sponsors__sponsor-list.sponsors__sponsor-list--sapphire
  -#  %li.sponsors__sponsor.sponsors__sponsor--mandrill
  -#    <a href="http://mandrill.com/"><img src="/images/2015/sponsors/mandrill.png" alt="Mandrill"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--jobready
  -#    <a href="http://jobready.com/"><img src="/images/2015/sponsors/jobready.png" alt="Job Ready"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--torii
  -#    <a href="http://toriirecruitment.com.au/"><img src="/images/2015/sponsors/torii.png" alt="Torii Recruiting"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--lookahead
  -#    <a href="http://www.lookahead.com.au/"><img src="/images/2015/sponsors/lookahead.png" alt="Lookahead"></a>
  %h3 Supporters
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
    %li.sponsors__sponsor.sponsors__sponsor--riara
      <a href="http://www.riarauniversity.ac.ke/"><img src="/images/2017/sponsors/riara.jpg" alt="Riara"></a>
    %li.sponsors__sponsor.sponsors__sponsor--gitlab
      <a href="http://gitlab.com/"><img src="/images/2016/sponsors/gitlab.png" alt="gitlab"></a>
    %li.sponsors__sponsor.sponsors__sponsor--github
      <a href="http://github.com/"><img src="/images/2016/sponsors/github.png" alt="GitHub"></a>
    %li.sponsors__sponsor.sponsors__sponsor--andela
      <a href="https://andela.com/"><img src="/images/2017/sponsors/andela.png" alt="Andela"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--adorable
  -#    <a href="http://adorable.io/"><img src="/images/2015/sponsors/adorableio.png" alt="Adorable"></a>
  -#%ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
  -#  %li.sponsors__sponsor.sponsors__sponsor--pluralsight
  -#    <a href="https://www.pluralsight.com/"><img src="/images/2015/sponsors/pluralsight.jpg" alt="pluralsight"></a>
  -#  %li.sponsors__sponsor.sponsors__sponsor--moringa
  -#    <a href="http://moringaschool.com/"><img src="/images/2015/sponsors/moringa.png" alt="Moringa school"></a>

  -#%p
  -#  <a href="/2015/sponsors" class="button">Read about our generous sponsors</a>

-# %section#news.body-section--content
-#   %h2 News
-#   %p ...

%section#conduct.body-section--content
  %h2 Code of Conduct
  %p RubyConf Kenya is run under the auspices of Ruby Kenya. You can view our <a href="http://nairuby.org/about/code-of-conduct/" target="_blank">code of conduct</a>. These rules must be followed by all attendees at all conference-related events.
