%div
  = haml :'2015/_header'

  -#.content-page__header
  -#  %h1 Speakers
  -#
  -#%section#speakers.body-section--content
  -#  %div.grid
  -#    %div.grid__cell.speaker
  -#      %h3.speaker__name #name
  -#      %p.speaker__photo
  -#        %img.speaker__photo__image(src="/images/2015/speakers/photo.png" alt="Photo of name")
  -#      %div.speaker__bio
  -#        %p #desc
  -#      %ol.speaker__links
  -#        %li
  -#          %a(href="#") #link
  -#        %li
  -#          %a(href="https://twitter.com/handle") @handle
