%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %h1.body-section--event-header__event
        %span.event-title African
        %span.event-title Ruby Mini-Conference
        %br
        %span.two-oh-one-five
        %span.two 2
        %span.oh 0
        %span.two 2
        %span.oh 1
        %span>
      %h4 THEME: AGILE, OPEN SOURCE AND ENTREPRENEURSHIP
      %p  On 12th August 2021 leading Ruby developers will come |
      together to share, inspire and learn. |

      %h2.body-section--event-header__city
        %span Online
      %h3.body-section--event-header__date
        12
        %sup> th
        &nbsp; August 2021
    .body-section--event-header__tickets
      %a.button(href="https://www.meetup.com/Nairuby/events/czfgcsycclbqb/") Register Now

%section.site-nav

  %a(href="#attending") Attending
  %a(href="#schedule") Schedule
  %a(href="#speakers") Speakers
  %a(href="#sponsors") Sponsors
  %a(href="#conduct") Code of Conduct
  %a(href="#contact") Contact

#after-nav

%section#attending.body-section--attending
  %h2 Attending

  %p
    You will need a recent internet browser.
  %p
    This is an inclusive conference that is
    %a(href="#conduct") welcoming
    and accessible to as many people as possible.

%section#schedule.body-section--content
  %h2 Conference Schedule
  %p
    %a.small-button(href="/AfricanRubyMiniConference2021.ics") Download Calendar
  %table.table
    %colgroup
      <col style="background-color: #743C00;">
      <col style="background-color: #743C00;">
      <col style="background-color: #743C00;">
      <col style="background-color: #743C00;">
    %tr
      %th Time (UTC+2)
      %th Speaker
      %th Title
      %th Speaker Country
    %tr
      %td 15:00
      %td Bernard Banta
      %td Welcome
      %td Kenya
    %tr
      %td 15:10
      %td Kalebu Jordan
      %td Opensource in Tanzania and Hacking Arduino + ESP32 with MRuby
      %td Tanzania
    %tr
      %td 15:40
      %td Promise Chukwuenyem
      %td Seamless Ruby Application Deployment using Capistrano
      %td Nigeria
    %tr
      %td 16:10
      %td
      %td Kwara
      %td
    %tr
      %td 16:20
      %td Michael Kimathi
      %td Break
      %td Kenya
    %tr
      %td 16:40
      %td
      %td Turing
      %td
    %tr
      %td 16:45
      %td Marylene Sawyer
      %td Building Modern Applications in Ruby: Fast, Efficient, Versatile, and Cost-Effective
      %td South Africa
    %tr
      %td 17:15
      %td Brooke Kuhlmann
      %td Code Reviews
      %td USA
    %tr
      %td 17:45
      %td
      %td Shopify
      %td
    %tr
      %td 17:55
      %td Raphael Noriode
      %td Break
      %td Nigeria
    %tr
      %td 18:15
      %td
      %td Turing
      %td
    %tr
      %td 18:20
      %td Clemence Sedem
      %td Reactive Rails
      %td Ghana
    %tr
      %td 18:50
      %td Raphael Noriode
      %td Closing
      %td Nigeria

%section#speakers.body-section--content
  %h2 Speakers

  %div.grid
    %div.grid__cell.speaker
      %h3.speaker__name Michael Kimathi
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/michael.jpg" alt="Photo of Michael")
      %div.speaker__bio
        %p
          Michael Kimathi has over 7 years experience working in innovative ecosystems and |
          building solutions notably with BlackBerry Developer Community, Nairuby, Masomomoja, GDG, |
          Unbound, |

          %a(href="http://uonbi.ac.ke/") University of Nairobi
          , StartupBlink, BantaMik and Atlassian. Currently, he is an entrepreneur learning from |
          his past failures and developing better solutions which will impact the world we are |
          living in. Previously, he was the Community Development Manager at C4DLab, where he |
          worked closely with team C4DLab to develop innovation strategy, Partnership and change |
          the University culture from the old status quo way of doing things to one at the |
          forefront of innovation, he mentored startups, hosted events, organized entrepreneurship |
          mechanics related talks with distinguished industry entrepreneurs.

      %ol.speaker__links
        %li
          %a(href="https://twitter.com/m_k_global") @m_k_global
        %li
          %a(href="https://github.com/iamleader") github.com/iamleader
    %div.grid__cell.speaker
      %h3.speaker__name Bernard Banta
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2018/speakers/banta.png" alt="Photo of Bernard Banta")
      %div.speaker__bio
        %p
          Currently the CTO and Co-founder at
          %a(href="https://finplusgroup.com/") Finplus.
          Banta is a computer scientist and an entrepreneur. He is passionate about technology |
          and how it can be used to leverage and transform Africa in the way we live, work, play |
          and govern. In his spare time, he'll often preside over executive and media talks on his |
          pet subjects of entrepreneurship, innovation and transformation using technology. When |
          it comes to building, his ultimate goal is to make the world a better place. He is an |
          entrepreneur and an engineer on the bleeding edge of technology. |

      %ol.speaker__links
        %li
          %a(href="https://finplusgroup.com/") finplusgroup.com
        %li
          %a(href="https://twitter.com/bantab") @bantaB
        %li
          %a(href="https://github.com/banta") github.com/banta

%section#sponsors.body-section--sponsors
  %h2 Sponsors
  %p
    Ruby Conference Africa 2021 is made possible through the generous support of our sponsors. |
    Please give them your support&nbsp;too.

  %h3 Startup Sponsors
  %h3 Supporters
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
    %li.sponsors__sponsor.sponsors__sponsor--ihum
      %a(href="https://ihub.co.ke/")
        %img(src="/images/all/sponsors/ihub.png" alt="iHub Nairuby")

%section#conduct.body-section--content
  %h2 Code of Conduct
  %p
    The African Ruby Mini-Conference is run under the auspices of Nairuby. You can view our
    %a(href="http://nairuby.org/about/code-of-conduct/" target="_blank") code of conduct.
    These rules must be followed by all attendees at all conference-related events.
  %img.body-section__header-image{src:'/images/2016/bg.jpg'}
