%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %h1.body-section--event-header__event
        %span.event-title African
        %span.event-title Ruby Mini-Conference
        %br
        %span.two-oh-one-five
        %span.two 2
        %span.oh 0
        %span.two 2
        %span.oh 1
        %span>
      %h4 THEME: AGILE, OPEN SOURCE AND ENTREPRENEURSHIP
      %p  On 12th August 2021 leading Ruby developers will come |
      together to share, inspire and learn. |

      %h2.body-section--event-header__city
        %span Online
      %h3.body-section--event-header__date
        12
        %sup> th
        &nbsp; August 2021
    .body-section--event-header__tickets
      %a.button(href="https://www.meetup.com/Nairuby/events/czfgcsycclbqb/") Register Now

%section.site-nav

  %a(href="#attending") Attending
  %a(href="#schedule") Schedule
  %a(href="#speakers") Speakers
  %a(href="#sponsors") Sponsors
  %a(href="#conduct") Code of Conduct
  %a(href="#contact") Contact

#after-nav

%section#attending.body-section--attending
  %h2 Attending

  %p
    You will need a recent internet browser.
  %p
    This is an inclusive conference that is
    %a(href="#conduct") welcoming
    and accessible to as many people as possible.

%section#schedule.body-section--content
  %h2 Conference Schedule
  %p
    %a.small-button(href="/AfricanRubyMiniConference2021.ics") Download Calendar
  %table.table
    %colgroup
      <col style="background-color: #743C00;">
      <col style="background-color: #743C00;">
      <col style="background-color: #743C00;">
      <col style="background-color: #743C00;">
    %tr
      %th Time (UTC+2)
      %th Speaker
      %th Title
      %th Speaker Country
    %tr
      %td 15:00
      %td Bernard Banta
      %td Welcome
      %td Nairobi, Kenya
    %tr
      %td 15:10
      %td Kalebu Jordan
      %td Opensource in Tanzania and Hacking Arduino + ESP32 with MRuby
      %td Tanzania
    %tr
      %td 15:40
      %td Promise Chukwuenyem
      %td Seamless Ruby Application Deployment using Capistrano
      %td Nigeria
    %tr
      %td 16:10
      %td Chris Nyaga
      %td Kwara: Testing In Ruby
      %td Nairobi, Kenya
    %tr
      %td 16:20
      %td Kaizilege Karoma
      %td Break
      %td Tanzania
    %tr
      %td 16:40
      %td Sam Adekunle
      %td Go Boundaryless with Turing
      %td Nigeria
    %tr
      %td 16:45
      %td Marylene Sawyer
      %td Building Modern Applications in Ruby: Fast, Efficient, Versatile, and Cost-Effective
      %td South Africa
    %tr
      %td 17:15
      %td Brooke Kuhlmann
      %td Code Reviews
      %td USA
    %tr
      %td 17:45
      %td Ufuk Kayserilioglu
      %td Shopify: Rails at Scale
      %td Cyprus
    %tr
      %td 17:55
      %td Bernard Banta
      %td Break: ARC Quiz
      %td Nairobi, Kenya
    %tr
      %td 18:15
      %td Sam Adekunle
      %td Go Boundaryless with Turing
      %td Nigeria
    %tr
      %td 18:20
      %td Clemence Sedem
      %td Reactive Rails
      %td Ghana
    %tr
      %td 18:50
      %td Raphael Noriode
      %td Closing
      %td Nigeria
    %tr
      %td 19:00
      %td Post conference discussion
      %td 
        %ul
          %li Q&A with Shopify
          %li Open Discussion with Sponsors and Participants
      %td 
    %tr
      %td 20:00
      %td 
      %td Shutdown platform
      %td 

%section#speakers.body-section--content
  %h2 Speakers

  %div.grid
    %div.grid__cell.speaker
      %h3.speaker__name Ufuk Kayserilioglu
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/all/speakers/UfukKayserilioglu.jpeg"
        alt="Photo of Ufuk Kayserilioglu")
      %div.speaker__bio
        %p
          Ufuk is a Production Engineering Manager on the Ruby and Rails Infrastructure team at |
          Shopify and brings over 20 years of industry experience to the company for the adoption |
          of better Ruby tooling and practices. He currently works remotely from Cyprus where he |
          lives with his beloved wife and wonderful daughter. |

          %ol.speaker__links
            %li
              %a(href="https://twitter.com/paracycle" target="_blank")
                %i.fa.fa-twitter
                @paracycle
            %li
              %a(href="https://twitter.com/shopifyEng" target="_blank")
                %i.fa.fa-twitter
                @shopifyEng
            %li
              %a(href=" https://github.com/paracycle" target="_blank")
                %i.fa.fa-github
                @paracycle

    %div.grid__cell.speaker
      %h3.speaker__name Chris Nyaga
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/all/speakers/ChrisNyaga.jpeg"
        alt="Photo of Promise Chris Nyaga")
      %div.speaker__bio
        %p
          Chris is a Software Engineer from
          %a(href="https://kwara.com/" target="_blank") Kwara
          who values simplistic & pragmatic approaches to building software.
          %ol.speaker__links
            %li
              %a(href="https://twitter.com/_bigzoo" target="_blank")
                %i.fa.fa-twitter
                @_bigzoo
            %li
              %a(href="https://github.com/bigzoo" target="_blank")
                %i.fa.fa-stack-github
                @bigzoo
            %li
              %a(href="https://kwara.com/" target="_blank")
                %i.fa.fa-globe
                kwara.com

    %div.grid__cell.speaker
      %h3.speaker__name Promise Chukwuenyem
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/all/speakers/PromiseChukwuenyem.jpeg"
          alt="Photo of Promise Chukwuenyem")
      %div.speaker__bio
        %p
          Promise Chukwuenyem is a DevOps and Ruby on Rails Engineer at
          %a(href="https://www.venturegardengroup.com/" target="_blank") Venture Garden Group.
          He loves automating software delivery/deployment processes
          and finds joy building solutions using Ruby on Rails. He is a very active
          contributor on
          %a(href="https://stackoverflow.com/users/10907864/promise-preston" target="_blank")StackOverflow
          and often shares his knowledge in writing on
          %a(href="https://medium.com/@promisepreston" target="_blank")Medium.
          %ol.speaker__links
            %li
              %a(href="https://twitter.com/PromisePreston" target="_blank")
                %i.fa.fa-twitter
                @promisePreston
            %li
              %a(href="https://stackoverflow.com/users/10907864/promise-preston" target="_blank")
                %i.fa.fa-stack-overflow
                Stackoverflow
            %li
              %a(href="https://medium.com/@promisepreston" target="_blank")
                %i.fa.fa-medium
                @promisepreston
            %li
              %a(href="https://www.venturegardengroup.com/" target="_blank")
                %i.fa.fa-globe
                venturegardengroup.com

    %div.grid__cell.speaker
      %h3.speaker__name Kalebu Jordan
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/all/speakers/KalebuJordan.jpeg"
        alt="Photo of Kalebu Jordan")
      %div.speaker__bio
        %p
          Kalebu Gwalugano, scientist by passion, mechatronics engineer by
          profession, has recently found a new life in programming. It's
          like you're little lab where you create your own little world
          and make your own rules, it works like magic!
        %ol.speaker__links
          %li
            %a(href="https://twitter.com/j_kalebu" target="_blank")
              %i.fa.fa-twitter
              @j_kalebu
          %li
            %a(href="https://github.com/kalebu" target="_blank")
              %i.fa.fa-github
              @kalebu
          %li
            %a(href="https://kalebujordan.dev/" target="_blank")
              %i.fa.fa-globe
              kalebujordan.dev

    %div.grid__cell.speaker
      %h3.speaker__name Brooke Kuhlmann
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/all/speakers/BrookeKuhlmann.jpeg"
        alt="Photo of Brooke Kuhlmann")
      %div.speaker__bio
        %p
          Brooke Kuhlmann has been a software engineer for over two decades
          and enjoys sharing the love and craft of software engineering --
          especially Ruby -- via the
          %a(href="https://www.alchemists.io/" target="_blank") Alchemists collective
          where he
          %a(href="https://www.alchemists.io/articles" target="_blank") writes,
          %a(href="https://www.alchemists.io/presentations" target="_blank") speaks,
          %a(href="https://www.alchemists.io/screencasts" target="_blank") teaches,
          and contributes to
          %a(href="https://www.alchemists.io/projects/" target="_blank") open source software.
        %ol.speaker__links
          %li
            %a(href="https://github.com/bkuhlmann" target="_blank")
              %i.fa.fa-github
              @bkuhlmann
          %li
            %a(href="https://www.alchemists.io" target="_blank")
              %i.fa.fa-globe
              alchemists.io

    %div.grid__cell.speaker
      %h3.speaker__name Marylene Sawyer
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/all/speakers/MaryleneSawyer.jpeg"
        alt="Photo of Marylene Sawyer")
      %div.speaker__bio
        %p
          Mrs. Marylene Sawyer is a wife and mother who enjoys solving problems
          and building interesting solutions through coding whenever she finds
          time. Mrs. Sawyer is a professional full-stack software engineer currently
          based in South Africa. She recently completed the software development
          program at Microverse, a school for remote developers. |
          Marylene also holds a BSc in Computer Science from the University of the
          People, Pasadena, California.
        %ol.speaker__links
          %li
            %a(href="https://twitter.com/MaryleneSawyer" target="_blank")
              %i.fa.fa-twitter
              @MaryleneSawyer
          %li
            %a(href="https://github.com/Bluette1" target="_blank")
              %i.fa.fa-github
              @bluette1
          %li
            %a(href="http://www.marylene.tech/" target="_blank")
              %i.fa.fa-globe
              marylene.tech

    %div.grid__cell.speaker
      %h3.speaker__name Clemence Sedem
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/all/speakers/ClemenceSedem.jpeg"
        alt="Photo of Clemence Sedem")
      %div.speaker__bio
        %p
          Clemence Sedem Agozi is a software engineer and cyber security researcher.
          He is currently working at
          %a(href="https://www.getinnotized.com/" target="_blank") getINNOtized GmbH
          as an associate software engineer.
        %ol.speaker__links
          %li
            %a(href="https://twitter.com/efocoder" target="_blank")
              %i.fa.fa-twitter
              @efocoder
          %li
            %a(href="https://github.com/clemsedem" target="_blank")
              %i.fa.fa-github
              @clemsedem
          %li
            %a(href="http://clemsedem.herokuapp.com/" target="_blank")
              %i.fa.fa-globe
              clemsedem.herokuapp.com

    %div.grid__cell.speaker
      %h3.speaker__name Raphael Noriode
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/all/speakers/RaphaelNoriode.jpeg"
        alt="Photo of Raphael Noriode")
      %div.speaker__bio
        %p
          Raphael Noriode is a software engineer and Site reliability enthusiast. 
          He is currently working with the team at
          %a(href="https://90seconds.com/" target="_blank") 90seconds
          as a software engineer. But a direct employee of 3MindLabs
        %ol.speaker__links
          %li
            %a(href="https://twitter.com/raphael_noriode" target="_blank")
              %i.fa.fa-twitter
              @raphaelnoriode
          %li
            %a(href="https://github.com/oghenebrume50/" target="_blank")
              %i.fa.fa-github
              @oghenebrume50
          %li
            %a(href="https://www.linkedin.com/in/raphael-noriode/" target="_blank")
              %i.fa.fa-linkedin
              @raphaelnoriode


%section#sponsors.body-section--sponsors
  %h2 Sponsors
  %p
    African Ruby Mini-Conference 2021 is made possible through the generous support of our |
    sponsors. Please give them your support too. |

  %h3 ARC Family Sponsors
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
    %li.sponsors__sponsor.sponsors__sponsor--ihum
      %a(href="https://www.shopify.com/")
        %img(src="/images/all/sponsors/shopify.png" alt="Kwara Nairuby")
    %li.sponsors__sponsor.sponsors__sponsor--ihum
      %a(href="https://kwara.com/")
        %img(src="/images/all/sponsors/kwara.png" alt="Kwara Nairuby")
    %li.sponsors__sponsor.sponsors__sponsor--ihum
      %a(href="https://www.turing.com/")
        %img(src="/images/all/sponsors/turing.png" alt="Turing Nairuby")
  %h3 Supporters
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
    %li.sponsors__sponsor.sponsors__sponsor--ihum
      %a(href="https://www.cloudafrica.net/")
        %img(src="/images/all/sponsors/cloudafrica.png" alt="Cloudafrica Nairuby")
    %li.sponsors__sponsor.sponsors__sponsor--ihum
      %a(href="https://nairuby.org/")
        %img(src="/images/all/sponsors/bantamik.png" alt="Bantamik Nairuby")

%section#conduct.body-section--content
  %h2 Code of Conduct
  %p
    The African Ruby Mini-Conference is run under the auspices of Nairuby. You can view our
    %a(href="http://nairuby.org/about/code-of-conduct/" target="_blank") code of conduct.
    These rules must be followed by all attendees at all conference-related events.
  %img.body-section__header-image{src:'/images/2016/bg.jpg'}
